# Introduction to Databases in Python

## 1. Basics of Relational Databases

### Engines and Connection Strings

In [1]:
# Import create_engine
from sqlalchemy import create_engine

# Create an engine that connects to the census.sqlite file: engine
engine = create_engine('sqlite:///census.sqlite')

# Print table names
print(engine.table_names())

['census', 'state_fact']

### Autoloading Tables from a Database

In [2]:
from sqlalchemy import MetaData
metadata = MetaData()

In [3]:
# Import Table
from sqlalchemy import Table

# Reflect census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Print census table metadata
print(repr(census))

Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

### Viewing Table Details

In [4]:
# Reflect the census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Print the column names
print(census.columns.keys())

# Print full table metadata
print(repr(metadata.tables['census']))

['state', 'sex', 'age', 'pop2000', 'pop2008']
Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

### Selecting data from a Table: raw SQL

In [5]:
connection = engine.connect()

# Build select statement for census table: stmt
stmt = 'SELECT * FROM census'

# Execute the statement and fetch the results: results
results = connection.execute(stmt).fetchall()

# Print results
results

[('Illinois', 'M', 0, 89600, 95012),
 ('Illinois', 'M', 1, 88445, 91829),
 ('Illinois', 'M', 2, 88729, 89547),
 ('Illinois', 'M', 3, 88868, 90037),
 ('Illinois', 'M', 4, 91947, 91111),
 ('Illinois', 'M', 5, 93894, 89802),
 ('Illinois', 'M', 6, 93676, 88931),
 ('Illinois', 'M', 7, 94818, 90940),
 ('Illinois', 'M', 8, 95035, 86943),
 ('Illinois', 'M', 9, 96436, 86055),
 ('Illinois', 'M', 10, 97280, 86565),
 ('Illinois', 'M', 11, 94029, 86606),
 ('Illinois', 'M', 12, 92402, 89596),
 ('Illinois', 'M', 13, 89926, 91661),
 ('Illinois', 'M', 14, 90717, 91256),
 ('Illinois', 'M', 15, 92178, 92729),
 ('Illinois', 'M', 16, 90587, 93083),
 ('Illinois', 'M', 17, 92782, 94541),
 ('Illinois', 'M', 18, 90997, 100253),
 ('Illinois', 'M', 19, 89629, 96588),
 ('Illinois', 'M', 20, 91040, 95460),
 ('Illinois', 'M', 21, 85176, 91373),
 ('Illinois', 'M', 22, 84372, 90723),
 ('Illinois', 'M', 23, 85529, 91982),
 ('Illinois', 'M', 24, 84549, 90237),
 ('Illinois', 'M', 25, 87630, 95217),
 ('Illinois', 'M', 26, 84205, 93351),
 ('Illinois', 'M', 27, 87481, 92949),
 ('Illinois', 'M', 28, 91586, 93929),
 ('Illinois', 'M', 29, 95226, 89559),
 ('Illinois', 'M', 30, 98572, 89598),
 ('Illinois', 'M', 31, 91469, 90093),
 ('Illinois', 'M', 32, 89813, 87703),
 ('Illinois', 'M', 33, 89694, 90090),
 ('Illinois', 'M', 34, 91474, 84679),
 ('Illinois', 'M', 35, 97796, 86172),
 ('Illinois', 'M', 37, 97664, 92422),
 ('Illinois', 'M', 38, 98705, 95862),
 ('Illinois', 'M', 39, 100103, 88235),
 ('Illinois', 'M', 40, 103045, 87299),
 ('Illinois', 'M', 41, 98235, 87285),
 ('Illinois', 'M', 42, 97946, 88474),
 ('Illinois', 'M', 43, 96490, 94799),
 ('Illinois', 'M', 44, 92713, 94893),
 ('Illinois', 'M', 45, 93817, 94278),
 ('Illinois', 'M', 46, 87706, 95633),
 ('Illinois', 'M', 47, 85685, 96731),
 ('Illinois', 'M', 48, 83445, 99113),
 ('Illinois', 'M', 49, 81182, 94273),
 ('Illinois', 'M', 50, 81005, 93425),
 ('Illinois', 'M', 51, 75942, 92133),
 ('Illinois', 'M', 52, 75896, 87504),
 ('Illinois', 'M', 53, 78933, 88458),
 ('Illinois', 'M', 54, 58953, 82456),
 ('Illinois', 'M', 55, 57885, 79601),
 ('Illinois', 'M', 56, 58143, 77447),
 ('Illinois', 'M', 57, 60590, 74349),
 ('Illinois', 'M', 58, 54120, 73646),
 ('Illinois', 'M', 59, 49046, 68179),
 ('Illinois', 'M', 60, 47509, 67186),
 ('Illinois', 'M', 61, 45588, 70789),
 ('Illinois', 'M', 62, 44604, 50790),
 ('Illinois', 'M', 63, 41700, 49725),
 ('Illinois', 'M', 64, 40316, 48773),
 ('Illinois', 'M', 65, 39696, 51139),
 ('Illinois', 'M', 66, 35784, 45248),
 ('Illinois', 'M', 67, 35251, 40085),
 ('Illinois', 'M', 68, 34729, 38613),
 ('Illinois', 'M', 69, 34914, 36909),
 ('Illinois', 'M', 70, 35307, 35929),
 ('Illinois', 'M', 71, 33112, 32944),
 ('Illinois', 'M', 72, 32673, 31610),
 ('Illinois', 'M', 73, 31381, 30767),
 ('Illinois', 'M', 74, 30103, 26962),
 ('Illinois', 'M', 75, 29050, 26065),
 ('Illinois', 'M', 76, 27274, 24866),
 ('Illinois', 'M', 77, 25325, 24059),
 ('Illinois', 'M', 78, 23794, 23908),
 ('Illinois', 'M', 79, 21932, 21598),
 ('Illinois', 'M', 80, 19729, 20725),
 ('Illinois', 'M', 81, 17222, 19151),
 ('Illinois', 'M', 82, 15811, 17433),
 ('Illinois', 'M', 83, 13553, 16064),
 ('Illinois', 'M', 84, 12073, 14569),
 ('Illinois', 'M', 85, 53719, 72621),
 ('Illinois', 'F', 0, 85910, 90286),
 ('Illinois', 'F', 1, 84396, 88126),
 ('Illinois', 'F', 2, 84764, 86291),
 ('Illinois', 'F', 3, 85598, 85170),
 ('Illinois', 'F', 4, 87729, 86959),
 ('Illinois', 'F', 5, 89085, 85336),
 ('Illinois', 'F', 6, 89608, 85210),
 ('Illinois', 'F', 7, 89876, 87083),
 ('Illinois', 'F', 8, 90982, 83463),
 ('Illinois', 'F', 9, 91913, 82137),
 ('Illinois', 'F', 10, 93569, 82662),
 ('Illinois', 'F', 11, 89694, 83484),
 ('Illinois', 'F', 12, 87574, 85594),
 ('Illinois', 'F', 13, 85843, 86851),
 ('Illinois', 'F', 14, 87057, 87519),
 ('Illinois', 'F', 15, 86835, 87794),
 ('Illinois', 'F', 16, 85249, 88919),
 ('Illinois', 'F', 17, 86930, 89900),
 ('Illinois', 'F', 18, 84902, 96446),
 ('Illinois', 'F', 19, 85953, 92743),
 ('Illinois', 'F', 20, 87124, 91653),
 ('Illinois', 'F', 21, 82416, 88640),
 ('Illinois', 'F', 22, 81888, 88671),
 ('Illinois', 'F', 23, 83219, 88442),
 ('Illinois', 'F', 24, 82301, 88009),
 ('Illinois', 'F', 25, 84817, 92928),
 ('Illinois', 'F', 26, 82888, 90322),
 ('Illinois', 'F', 27, 85594, 89980),
 ('Illinois', 'F', 28, 89682, 90458),
 ('Illinois', 'F', 29, 94496, 86087),
 ('Illinois', 'F', 30, 96361, 85098),
 ('Illinois', 'F', 31, 90025, 86881),
 ('Illinois', 'F', 32, 89414, 83797),
 ('Illinois', 'F', 33, 89087, 85142),
 ('Illinois', 'F', 34, 91233, 81825),
 ('Illinois', 'F', 35, 98151, 84362),
 ('Illinois', 'F', 36, 98588, 87900),
 ('Illinois', 'F', 37, 99155, 91106),
 ('Illinois', 'F', 38, 100045, 93812),
 ('Illinois', 'F', 39, 102074, 87686),
 ('Illinois', 'F', 40, 104762, 87678),
 ('Illinois', 'F', 41, 99919, 86734),
 ('Illinois', 'F', 42, 100474, 88419),
 ('Illinois', 'F', 43, 98601, 95458),
 ('Illinois', 'F', 44, 95485, 95101),
 ('Illinois', 'F', 45, 95859, 96963),
 ('Illinois', 'F', 46, 90902, 97582),
 ('Illinois', 'F', 47, 88623, 98107),
 ('Illinois', 'F', 48, 85539, 100824),
 ('Illinois', 'F', 49, 84865, 96202),
 ('Illinois', 'F', 50, 83791, 96290),
 ('Illinois', 'F', 51, 80154, 94537),
 ('Illinois', 'F', 52, 79736, 90986),
 ('Illinois', 'F', 53, 83261, 90778),
 ('Illinois', 'F', 54, 62200, 85252),
 ('Illinois', 'F', 55, 61540, 83956),
 ('Illinois', 'F', 56, 62191, 79770),
 ('Illinois', 'F', 57, 65588, 78547),
 ('Illinois', 'F', 58, 58373, 76929),
 ('Illinois', 'F', 59, 53406, 73154),
 ('Illinois', 'F', 60, 52517, 72032),
 ('Illinois', 'F', 61, 50588, 76361),
 ('Illinois', 'F', 62, 49457, 55862),
 ('Illinois', 'F', 63, 46140, 54569),
 ('Illinois', 'F', 64, 46040, 54698),
 ('Illinois', 'F', 65, 45501, 58118),
 ('Illinois', 'F', 66, 41990, 51610),
 ('Illinois', 'F', 67, 42327, 46695),
 ('Illinois', 'F', 68, 42526, 45791),
 ('Illinois', 'F', 69, 43328, 43938),
 ('Illinois', 'F', 70, 44539, 43143),
 ('Illinois', 'F', 71, 41731, 39827),
 ('Illinois', 'F', 72, 42175, 39581),
 ('Illinois', 'F', 73, 42123, 38613),
 ('Illinois', 'F', 74, 40681, 34897),
 ('Illinois', 'F', 75, 40986, 34884),
 ('Illinois', 'F', 76, 39676, 34261),
 ('Illinois', 'F', 77, 37514, 34377),
 ('Illinois', 'F', 78, 36875, 35020),
 ('Illinois', 'F', 79, 34777, 31819),
 ('Illinois', 'F', 80, 33171, 31257),
 ('Illinois', 'F', 81, 29900, 30560),
 ('Illinois', 'F', 82, 28488, 28584),
 ('Illinois', 'F', 83, 26257, 28316),
 ('Illinois', 'F', 84, 23947, 26452),
 ('Illinois', 'F', 85, 140079, 166300),
 ('New Jersey', 'M', 0, 56983, 58756),
 ('New Jersey', 'M', 1, 56686, 57325),
 ('New Jersey', 'M', 2, 57011, 55475),
 ('New Jersey', 'M', 3, 57912, 56059),
 ('New Jersey', 'M', 4, 59359, 58048),
 ('New Jersey', 'M', 5, 60392, 58472),
 ('New Jersey', 'M', 6, 60739, 57080),
 ('New Jersey', 'M', 7, 61579, 56754),
 ('New Jersey', 'M', 8, 62089, 56616),
 ('New Jersey', 'M', 9, 63384, 56322),
 ('New Jersey', 'M', 10, 64593, 56617),
 ('New Jersey', 'M', 11, 62494, 57482),
 ('New Jersey', 'M', 12, 60570, 58834),
 ('New Jersey', 'M', 13, 58189, 59925),
 ('New Jersey', 'M', 14, 57931, 60294),
 ('New Jersey', 'M', 15, 56752, 61056),
 ('New Jersey', 'M', 16, 55887, 61478),
 ('New Jersey', 'M', 17, 56712, 62450),
 ('New Jersey', 'M', 18, 53265, 62809),
 ('New Jersey', 'M', 19, 48344, 55700),
 ('New Jersey', 'M', 20, 49564, 55794),
 ('New Jersey', 'M', 21, 48141, 54769),
 ('New Jersey', 'M', 22, 48353, 55026),
 ('New Jersey', 'M', 23, 49130, 54730),
 ('New Jersey', 'M', 24, 48723, 53471),
 ('New Jersey', 'M', 25, 51092, 56073),
 ('New Jersey', 'M', 26, 50357, 55169),
 ('New Jersey', 'M', 27, 52179, 51964),
 ('New Jersey', 'M', 28, 55938, 52358),
 ('New Jersey', 'M', 29, 60638, 51467),
 ('New Jersey', 'M', 30, 64220, 52596),
 ('New Jersey', 'M', 31, 61484, 54346),
 ('New Jersey', 'M', 32, 61927, 54414),
 ('New Jersey', 'M', 33, 63487, 56786),
 ('New Jersey', 'M', 34, 66737, 56190),
 ('New Jersey', 'M', 35, 71274, 56869),
 ('New Jersey', 'M', 37, 71026, 64156),
 ('New Jersey', 'M', 38, 71811, 67107),
 ('New Jersey', 'M', 39, 72043, 63562),
 ('New Jersey', 'M', 40, 73665, 63306),
 ('New Jersey', 'M', 41, 70514, 64273),
 ('New Jersey', 'M', 42, 69835, 67210),
 ('New Jersey', 'M', 43, 68650, 71249),
 ('New Jersey', 'M', 44, 65564, 71097),
 ('District of Columbia', 'M', 0, 3358, 4017),
 ('District of Columbia', 'M', 1, 3084, 3977),
 ('District of Columbia', 'M', 2, 3357, 3625),
 ('District of Columbia', 'M', 3, 3245, 3525),
 ('District of Columbia', 'M', 4, 3361, 3456),
 ('District of Columbia', 'M', 5, 3360, 3341),
 ('District of Columbia', 'M', 6, 3504, 2831),
 ('District of Columbia', 'M', 7, 3600, 3156),
 ('District of Columbia', 'M', 8, 3600, 2997),
 ('District of Columbia', 'M', 9, 3542, 2335),
 ('District of Columbia', 'M', 10, 3566, 2878),
 ('District of Columbia', 'M', 11, 3119, 2610),
 ('District of Columbia', 'M', 12, 2857, 2902),
 ('District of Columbia', 'M', 13, 2848, 2793),
 ('District of Columbia', 'M', 14, 2746, 3034),
 ('District of Columbia', 'M', 15, 2851, 3102),
 ('District of Columbia', 'M', 16, 2835, 3300),
 ('District of Columbia', 'M', 17, 2887, 3199),
 ('District of Columbia', 'M', 18, 4020, 4457),
 ('District of Columbia', 'M', 19, 5264, 5406),
 ('District of Columbia', 'M', 20, 5016, 4710),
 ('District of Columbia', 'M', 21, 4709, 4718),
 ('District of Columbia', 'M', 22, 4348, 4622),
 ('District of Columbia', 'M', 23, 4399, 4592),
 ('District of Columbia', 'M', 24, 4554, 5569),
 ('District of Columbia', 'M', 25, 4721, 4931),
 ('District of Columbia', 'M', 26, 4609, 6682),
 ('District of Columbia', 'M', 27, 4879, 5187),
 ('District of Columbia', 'M', 28, 4957, 5772),
 ('District of Columbia', 'M', 29, 5377, 5997),
 ('District of Columbia', 'M', 30, 5562, 4864),
 ('District of Columbia', 'M', 31, 4801, 4871),
 ('District of Columbia', 'M', 32, 4652, 4615),
 ('District of Columbia', 'M', 33, 4328, 4948),
 ('District of Columbia', 'M', 34, 4639, 3829),
 ('District of Columbia', 'M', 35, 4915, 4668),
 ('District of Columbia', 'M', 37, 4497, 4267),
 ('District of Columbia', 'M', 38, 4247, 4857),
 ('District of Columbia', 'M', 39, 4367, 4034),
 ('District of Columbia', 'M', 40, 4515, 4176),
 ('District of Columbia', 'M', 41, 4081, 3595),
 ('District of Columbia', 'M', 42, 4066, 3753),
 ('District of Columbia', 'M', 43, 3926, 4175),
 ('District of Columbia', 'M', 44, 3759, 4293),
 ('District of Columbia', 'M', 45, 3920, 3957),
 ('District of Columbia', 'M', 46, 3858, 3935),
 ('District of Columbia', 'M', 47, 3750, 3712),
 ('District of Columbia', 'M', 48, 3447, 3976),
 ('District of Columbia', 'M', 49, 3699, 3679),
 ('District of Columbia', 'M', 50, 3677, 3697),
 ('District of Columbia', 'M', 51, 3508, 3591),
 ('District of Columbia', 'M', 52, 3405, 3350),
 ('District of Columbia', 'M', 53, 3449, 3626),
 ('District of Columbia', 'M', 54, 2686, 3338),
 ('District of Columbia', 'M', 55, 2762, 3383),
 ('District of Columbia', 'M', 56, 2626, 2869),
 ('District of Columbia', 'M', 57, 2558, 3246),
 ('District of Columbia', 'M', 58, 2460, 3144),
 ('District of Columbia', 'M', 59, 2283, 3078),
 ('District of Columbia', 'M', 60, 2251, 2818),
 ('District of Columbia', 'M', 61, 2154, 2944),
 ('District of Columbia', 'M', 62, 2055, 2187),
 ('District of Columbia', 'M', 63, 1791, 2318),
 ('District of Columbia', 'M', 64, 1805, 2257),
 ('District of Columbia', 'M', 65, 1807, 2046),
 ('District of Columbia', 'M', 66, 1645, 1967),
 ('District of Columbia', 'M', 67, 1647, 1743),
 ('District of Columbia', 'M', 68, 1516, 1699),
 ('District of Columbia', 'M', 69, 1511, 1644),
 ('District of Columbia', 'M', 70, 1498, 1611),
 ('District of Columbia', 'M', 71, 1399, 1320),
 ('District of Columbia', 'M', 72, 1417, 1304),
 ('District of Columbia', 'M', 73, 1356, 1359),
 ('District of Columbia', 'M', 74, 1235, 1162),
 ('District of Columbia', 'M', 75, 1275, 1122),
 ('District of Columbia', 'M', 76, 1182, 1022),
 ('District of Columbia', 'M', 77, 1110, 982),
 ('District of Columbia', 'M', 78, 1060, 933),
 ('District of Columbia', 'M', 79, 972, 899),
 ('District of Columbia', 'M', 80, 939, 827),
 ('District of Columbia', 'M', 81, 783, 832),
 ('District of Columbia', 'M', 82, 639, 704),
 ('District of Columbia', 'M', 83, 587, 645),
 ('District of Columbia', 'M', 84, 481, 624),
 ('District of Columbia', 'M', 85, 2441, 3195),
 ('District of Columbia', 'F', 0, 3219, 3869),
 ('District of Columbia', 'F', 1, 3120, 3640),
 ('District of Columbia', 'F', 2, 3106, 3484),
 ('District of Columbia', 'F', 3, 3204, 3326),
 ('District of Columbia', 'F', 4, 3334, 3433),
 ('District of Columbia', 'F', 5, 3387, 2849),
 ('District of Columbia', 'F', 6, 3496, 2797),
 ('District of Columbia', 'F', 7, 3493, 3117),
 ('District of Columbia', 'F', 8, 3528, 2580),
 ('District of Columbia', 'F', 9, 3561, 2608),
 ('District of Columbia', 'F', 10, 3456, 2529),
 ('District of Columbia', 'F', 11, 3054, 2563),
 ('District of Columbia', 'F', 12, 2896, 2748),
 ('District of Columbia', 'F', 13, 2859, 2805),
 ('District of Columbia', 'F', 14, 2700, 3017),
 ('District of Columbia', 'F', 15, 2738, 3083),
 ('District of Columbia', 'F', 16, 2792, 3175),
 ('District of Columbia', 'F', 17, 2943, 3315),
 ('District of Columbia', 'F', 18, 4869, 5377),
 ('District of Columbia', 'F', 19, 6429, 6317),
 ('District of Columbia', 'F', 20, 5907, 5687),
 ('District of Columbia', 'F', 21, 5520, 5842),
 ('District of Columbia', 'F', 22, 5435, 5384),
 ('District of Columbia', 'F', 23, 5594, 5672),
 ('District of Columbia', 'F', 24, 5688, 6365),
 ('District of Columbia', 'F', 25, 5669, 6145),
 ('District of Columbia', 'F', 26, 5256, 7164),
 ('District of Columbia', 'F', 27, 5328, 4927),
 ('District of Columbia', 'F', 28, 5363, 8131),
 ('District of Columbia', 'F', 29, 5686, 4980),
 ('District of Columbia', 'F', 30, 5676, 5204),
 ('District of Columbia', 'F', 31, 4867, 5339),
 ('District of Columbia', 'F', 32, 4753, 4893),
 ('District of Columbia', 'F', 33, 4479, 4811),
 ('District of Columbia', 'F', 34, 4462, 4458),
 ('District of Columbia', 'F', 35, 4722, 4749),
 ('District of Columbia', 'F', 36, 4648, 4063),
 ('District of Columbia', 'F', 37, 4370, 4314),
 ('District of Columbia', 'F', 38, 4266, 4936),
 ('District of Columbia', 'F', 39, 4356, 3883),
 ('District of Columbia', 'F', 40, 4507, 4195),
 ('District of Columbia', 'F', 41, 4193, 3843),
 ('District of Columbia', 'F', 42, 4063, 3789),
 ('District of Columbia', 'F', 43, 4240, 4064),
 ('District of Columbia', 'F', 44, 4080, 4201),
 ('District of Columbia', 'F', 45, 4349, 4107),
 ('District of Columbia', 'F', 46, 4144, 3852),
 ('District of Columbia', 'F', 47, 4072, 4011),
 ('District of Columbia', 'F', 48, 4041, 4202),
 ('District of Columbia', 'F', 49, 4086, 3873),
 ('District of Columbia', 'F', 50, 4237, 3872),
 ('District of Columbia', 'F', 51, 4079, 4124),
 ('District of Columbia', 'F', 52, 4004, 3719),
 ('District of Columbia', 'F', 53, 3987, 4090),
 ('District of Columbia', 'F', 54, 3163, 4045),
 ('District of Columbia', 'F', 55, 3224, 3727),
 ('District of Columbia', 'F', 56, 3251, 3809),
 ('District of Columbia', 'F', 57, 3136, 3936),
 ('District of Columbia', 'F', 58, 2851, 3870),
 ('District of Columbia', 'F', 59, 2700, 3668),
 ('District of Columbia', 'F', 60, 2793, 3647),
 ('District of Columbia', 'F', 61, 2360, 3726),
 ('District of Columbia', 'F', 62, 2433, 2752),
 ('District of Columbia', 'F', 63, 2206, 2851),
 ('District of Columbia', 'F', 64, 2137, 2827),
 ('District of Columbia', 'F', 65, 2195, 2751),
 ('District of Columbia', 'F', 66, 2061, 2500),
 ('District of Columbia', 'F', 67, 2100, 2280),
 ('District of Columbia', 'F', 68, 1980, 2391),
 ('District of Columbia', 'F', 69, 1977, 1962),
 ('District of Columbia', 'F', 70, 2193, 2007),
 ('District of Columbia', 'F', 71, 2118, 1821),
 ('District of Columbia', 'F', 72, 1978, 1734),
 ('District of Columbia', 'F', 73, 2071, 1780),
 ('District of Columbia', 'F', 74, 2020, 1649),
 ('District of Columbia', 'F', 75, 2049, 1643),
 ('District of Columbia', 'F', 76, 1946, 1477),
 ('District of Columbia', 'F', 77, 1949, 1448),
 ('District of Columbia', 'F', 78, 1751, 1579),
 ('District of Columbia', 'F', 79, 1681, 1528),
 ('District of Columbia', 'F', 80, 1627, 1365),
 ('District of Columbia', 'F', 81, 1380, 1408),
 ('District of Columbia', 'F', 82, 1327, 1327),
 ('District of Columbia', 'F', 83, 1195, 1274),
 ('District of Columbia', 'F', 84, 1090, 1135),
 ('New Jersey', 'M', 45, 65529, 69934),
 ('New Jersey', 'M', 46, 61817, 70961),
 ('New Jersey', 'M', 47, 59206, 70886),
 ('New Jersey', 'M', 48, 56977, 71595),
 ('New Jersey', 'M', 49, 55780, 68022),
 ('New Jersey', 'M', 50, 56235, 67401),
 ('New Jersey', 'M', 51, 53235, 65757),
 ('New Jersey', 'M', 52, 54900, 62616),
 ('New Jersey', 'M', 53, 58013, 62490),
 ('New Jersey', 'M', 54, 43584, 58355),
 ('New Jersey', 'M', 55, 42959, 55466),
 ('New Jersey', 'M', 56, 42179, 53088),
 ('New Jersey', 'M', 57, 45575, 51211),
 ('New Jersey', 'M', 58, 38376, 51039),
 ('New Jersey', 'M', 59, 34722, 47299),
 ('New Jersey', 'M', 60, 34278, 48085),
 ('New Jersey', 'M', 61, 32730, 51579),
 ('New Jersey', 'M', 62, 31589, 37378),
 ('New Jersey', 'M', 63, 29440, 36620),
 ('New Jersey', 'M', 64, 28747, 34605),
 ('New Jersey', 'M', 65, 27751, 38210),
 ('New Jersey', 'M', 66, 26129, 32006),
 ('New Jersey', 'M', 67, 26479, 28279),
 ('New Jersey', 'M', 68, 26076, 27635),
 ('New Jersey', 'M', 69, 25811, 26304),
 ('New Jersey', 'M', 70, 26370, 25459),
 ('New Jersey', 'M', 71, 24801, 23197),
 ('New Jersey', 'M', 72, 24358, 22627),
 ('New Jersey', 'M', 73, 23724, 21789),
 ('New Jersey', 'M', 74, 22304, 19294),
 ('New Jersey', 'M', 75, 21663, 19267),
 ('New Jersey', 'M', 76, 20280, 18629),
 ('New Jersey', 'M', 77, 18958, 17897),
 ('New Jersey', 'M', 78, 17839, 17860),
 ('New Jersey', 'M', 79, 17030, 16034),
 ('New Jersey', 'M', 80, 15262, 15261),
 ('New Jersey', 'M', 81, 12609, 14193),
 ('New Jersey', 'M', 82, 12104, 12912),
 ('New Jersey', 'M', 83, 10004, 12085),
 ('New Jersey', 'M', 84, 8864, 10759),
 ('New Jersey', 'M', 85, 39309, 54920),
 ('New Jersey', 'F', 0, 54679, 55841),
 ('New Jersey', 'F', 1, 53913, 54437),
 ('New Jersey', 'F', 2, 54744, 52450),
 ('New Jersey', 'F', 3, 55427, 53490),
 ('New Jersey', 'F', 4, 56860, 55540),
 ('New Jersey', 'F', 5, 57486, 55247),
 ('New Jersey', 'F', 6, 57751, 54660),
 ('New Jersey', 'F', 7, 58696, 53617),
 ('New Jersey', 'F', 8, 59465, 54257),
 ('New Jersey', 'F', 9, 60277, 53421),
 ('New Jersey', 'F', 10, 61606, 54270),
 ('New Jersey', 'F', 11, 59279, 54850),
 ('New Jersey', 'F', 12, 57384, 56348),
 ('New Jersey', 'F', 13, 55913, 56884),
 ('New Jersey', 'F', 14, 54804, 57080),
 ('New Jersey', 'F', 15, 54208, 58022),
 ('New Jersey', 'F', 16, 52815, 58825),
 ('New Jersey', 'F', 17, 52918, 59284),
 ('New Jersey', 'F', 18, 48383, 58217),
 ('New Jersey', 'F', 19, 45910, 51872),
 ('New Jersey', 'F', 20, 47658, 52726),
 ('New Jersey', 'F', 21, 46601, 54512),
 ('New Jersey', 'F', 22, 46518, 52223),
 ('New Jersey', 'F', 23, 47909, 52601),
 ('New Jersey', 'F', 24, 47751, 51185),
 ('New Jersey', 'F', 25, 49805, 53116),
 ('New Jersey', 'F', 26, 50344, 51334),
 ('New Jersey', 'F', 27, 52524, 48697),
 ('New Jersey', 'F', 28, 56102, 52359),
 ('New Jersey', 'F', 29, 61685, 47013),
 ('New Jersey', 'F', 30, 64873, 51329),
 ('New Jersey', 'F', 31, 62665, 53082),
 ('New Jersey', 'F', 32, 63572, 53301),
 ('New Jersey', 'F', 33, 65517, 54789),
 ('New Jersey', 'F', 34, 68457, 56177),
 ('New Jersey', 'F', 35, 72558, 57404),
 ('New Jersey', 'F', 36, 73865, 59897),
 ('New Jersey', 'F', 37, 73266, 64997),
 ('New Jersey', 'F', 38, 72927, 67366),
 ('New Jersey', 'F', 39, 73816, 64546),
 ('New Jersey', 'F', 40, 75226, 64632),
 ('New Jersey', 'F', 41, 73159, 66421),
 ('New Jersey', 'F', 42, 72371, 68732),
 ('New Jersey', 'F', 43, 71100, 72619),
 ('New Jersey', 'F', 44, 68286, 73252),
 ('New Jersey', 'F', 45, 67763, 72477),
 ('New Jersey', 'F', 46, 64313, 71522),
 ('New Jersey', 'F', 47, 62759, 72520),
 ('New Jersey', 'F', 48, 60526, 73425),
 ('New Jersey', 'F', 49, 59877, 71188),

### Selecting data from a Table with SQLAlchemy

In [6]:
# Import select
from sqlalchemy import Table, select

# Reflect census table via engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

# Build select statement for census table: stmt
stmt = select([census])

# Print the emitted statement to see the SQL emitted
print(stmt)

# Execute the statement and print the results
connection.execute(stmt).fetchall()

SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census

[('Illinois', 'M', 0, 89600, 95012),
 ('Illinois', 'M', 1, 88445, 91829),
 ('Illinois', 'M', 2, 88729, 89547),
 ('Illinois', 'M', 3, 88868, 90037),
 ('Illinois', 'M', 4, 91947, 91111),
 ('Illinois', 'M', 5, 93894, 89802),
 ('Illinois', 'M', 6, 93676, 88931),
 ('Illinois', 'M', 7, 94818, 90940),
 ('Illinois', 'M', 8, 95035, 86943),
 ('Illinois', 'M', 9, 96436, 86055),
 ('Illinois', 'M', 10, 97280, 86565),
 ('Illinois', 'M', 11, 94029, 86606),
 ('Illinois', 'M', 12, 92402, 89596),
 ('Illinois', 'M', 13, 89926, 91661),
 ('Illinois', 'M', 14, 90717, 91256),
 ('Illinois', 'M', 15, 92178, 92729),
 ('Illinois', 'M', 16, 90587, 93083),
 ('Illinois', 'M', 17, 92782, 94541),
 ('Illinois', 'M', 18, 90997, 100253),
 ('Illinois', 'M', 19, 89629, 96588),
 ('Illinois', 'M', 20, 91040, 95460),
 ('Illinois', 'M', 21, 85176, 91373),
 ('Illinois', 'M', 22, 84372, 90723),
 ('Illinois', 'M', 23, 85529, 91982),
 ('Illinois', 'M', 24, 84549, 90237),
 ('Illinois', 'M', 25, 87630, 95217),
 ('Illinois', 'M', 26, 84205, 93351),
 ('Illinois', 'M', 27, 87481, 92949),
 ('Illinois', 'M', 28, 91586, 93929),
 ('Illinois', 'M', 29, 95226, 89559),
 ('Illinois', 'M', 30, 98572, 89598),
 ('Illinois', 'M', 31, 91469, 90093),
 ('Illinois', 'M', 32, 89813, 87703),
 ('Illinois', 'M', 33, 89694, 90090),
 ('Illinois', 'M', 34, 91474, 84679),
 ('Illinois', 'M', 35, 97796, 86172),
 ('Illinois', 'M', 37, 97664, 92422),
 ('Illinois', 'M', 38, 98705, 95862),
 ('Illinois', 'M', 39, 100103, 88235),
 ('Illinois', 'M', 40, 103045, 87299),
 ('Illinois', 'M', 41, 98235, 87285),
 ('Illinois', 'M', 42, 97946, 88474),
 ('Illinois', 'M', 43, 96490, 94799),
 ('Illinois', 'M', 44, 92713, 94893),
 ('Illinois', 'M', 45, 93817, 94278),
 ('Illinois', 'M', 46, 87706, 95633),
 ('Illinois', 'M', 47, 85685, 96731),
 ('Illinois', 'M', 48, 83445, 99113),
 ('Illinois', 'M', 49, 81182, 94273),
 ('Illinois', 'M', 50, 81005, 93425),
 ('Illinois', 'M', 51, 75942, 92133),
 ('Illinois', 'M', 52, 75896, 87504),
 ('Illinois', 'M', 53, 78933, 88458),
 ('Illinois', 'M', 54, 58953, 82456),
 ('Illinois', 'M', 55, 57885, 79601),
 ('Illinois', 'M', 56, 58143, 77447),
 ('Illinois', 'M', 57, 60590, 74349),
 ('Illinois', 'M', 58, 54120, 73646),
 ('Illinois', 'M', 59, 49046, 68179),
 ('Illinois', 'M', 60, 47509, 67186),
 ('Illinois', 'M', 61, 45588, 70789),
 ('Illinois', 'M', 62, 44604, 50790),
 ('Illinois', 'M', 63, 41700, 49725),
 ('Illinois', 'M', 64, 40316, 48773),
 ('Illinois', 'M', 65, 39696, 51139),
 ('Illinois', 'M', 66, 35784, 45248),
 ('Illinois', 'M', 67, 35251, 40085),
 ('Illinois', 'M', 68, 34729, 38613),
 ('Illinois', 'M', 69, 34914, 36909),
 ('Illinois', 'M', 70, 35307, 35929),
 ('Illinois', 'M', 71, 33112, 32944),
 ('Illinois', 'M', 72, 32673, 31610),
 ('Illinois', 'M', 73, 31381, 30767),
 ('Illinois', 'M', 74, 30103, 26962),
 ('Illinois', 'M', 75, 29050, 26065),
 ('Illinois', 'M', 76, 27274, 24866),
 ('Illinois', 'M', 77, 25325, 24059),
 ('Illinois', 'M', 78, 23794, 23908),
 ('Illinois', 'M', 79, 21932, 21598),
 ('Illinois', 'M', 80, 19729, 20725),
 ('Illinois', 'M', 81, 17222, 19151),
 ('Illinois', 'M', 82, 15811, 17433),
 ('Illinois', 'M', 83, 13553, 16064),
 ('Illinois', 'M', 84, 12073, 14569),
 ('Illinois', 'M', 85, 53719, 72621),
 ('Illinois', 'F', 0, 85910, 90286),
 ('Illinois', 'F', 1, 84396, 88126),
 ('Illinois', 'F', 2, 84764, 86291),
 ('Illinois', 'F', 3, 85598, 85170),
 ('Illinois', 'F', 4, 87729, 86959),
 ('Illinois', 'F', 5, 89085, 85336),
 ('Illinois', 'F', 6, 89608, 85210),
 ('Illinois', 'F', 7, 89876, 87083),
 ('Illinois', 'F', 8, 90982, 83463),
 ('Illinois', 'F', 9, 91913, 82137),
 ('Illinois', 'F', 10, 93569, 82662),
 ('Illinois', 'F', 11, 89694, 83484),
 ('Illinois', 'F', 12, 87574, 85594),
 ('Illinois', 'F', 13, 85843, 86851),
 ('Illinois', 'F', 14, 87057, 87519),
 ('Illinois', 'F', 15, 86835, 87794),
 ('Illinois', 'F', 16, 85249, 88919),
 ('Illinois', 'F', 17, 86930, 89900),
 ('Illinois', 'F', 18, 84902, 96446),
 ('Illinois', 'F', 19, 85953, 92743),
 ('Illinois', 'F', 20, 87124, 91653),
 ('Illinois', 'F', 21, 82416, 88640),
 ('Illinois', 'F', 22, 81888, 88671),
 ('Illinois', 'F', 23, 83219, 88442),
 ('Illinois', 'F', 24, 82301, 88009),
 ('Illinois', 'F', 25, 84817, 92928),
 ('Illinois', 'F', 26, 82888, 90322),
 ('Illinois', 'F', 27, 85594, 89980),
 ('Illinois', 'F', 28, 89682, 90458),
 ('Illinois', 'F', 29, 94496, 86087),
 ('Illinois', 'F', 30, 96361, 85098),
 ('Illinois', 'F', 31, 90025, 86881),
 ('Illinois', 'F', 32, 89414, 83797),
 ('Illinois', 'F', 33, 89087, 85142),
 ('Illinois', 'F', 34, 91233, 81825),
 ('Illinois', 'F', 35, 98151, 84362),
 ('Illinois', 'F', 36, 98588, 87900),
 ('Illinois', 'F', 37, 99155, 91106),
 ('Illinois', 'F', 38, 100045, 93812),
 ('Illinois', 'F', 39, 102074, 87686),
 ('Illinois', 'F', 40, 104762, 87678),
 ('Illinois', 'F', 41, 99919, 86734),
 ('Illinois', 'F', 42, 100474, 88419),
 ('Illinois', 'F', 43, 98601, 95458),
 ('Illinois', 'F', 44, 95485, 95101),
 ('Illinois', 'F', 45, 95859, 96963),
 ('Illinois', 'F', 46, 90902, 97582),
 ('Illinois', 'F', 47, 88623, 98107),
 ('Illinois', 'F', 48, 85539, 100824),
 ('Illinois', 'F', 49, 84865, 96202),
 ('Illinois', 'F', 50, 83791, 96290),
 ('Illinois', 'F', 51, 80154, 94537),
 ('Illinois', 'F', 52, 79736, 90986),
 ('Illinois', 'F', 53, 83261, 90778),
 ('Illinois', 'F', 54, 62200, 85252),
 ('Illinois', 'F', 55, 61540, 83956),
 ('Illinois', 'F', 56, 62191, 79770),
 ('Illinois', 'F', 57, 65588, 78547),
 ('Illinois', 'F', 58, 58373, 76929),
 ('Illinois', 'F', 59, 53406, 73154),
 ('Illinois', 'F', 60, 52517, 72032),
 ('Illinois', 'F', 61, 50588, 76361),
 ('Illinois', 'F', 62, 49457, 55862),
 ('Illinois', 'F', 63, 46140, 54569),
 ('Illinois', 'F', 64, 46040, 54698),
 ('Illinois', 'F', 65, 45501, 58118),
 ('Illinois', 'F', 66, 41990, 51610),
 ('Illinois', 'F', 67, 42327, 46695),
 ('Illinois', 'F', 68, 42526, 45791),
 ('Illinois', 'F', 69, 43328, 43938),
 ('Illinois', 'F', 70, 44539, 43143),
 ('Illinois', 'F', 71, 41731, 39827),
 ('Illinois', 'F', 72, 42175, 39581),
 ('Illinois', 'F', 73, 42123, 38613),
 ('Illinois', 'F', 74, 40681, 34897),
 ('Illinois', 'F', 75, 40986, 34884),
 ('Illinois', 'F', 76, 39676, 34261),
 ('Illinois', 'F', 77, 37514, 34377),
 ('Illinois', 'F', 78, 36875, 35020),
 ('Illinois', 'F', 79, 34777, 31819),
 ('Illinois', 'F', 80, 33171, 31257),
 ('Illinois', 'F', 81, 29900, 30560),
 ('Illinois', 'F', 82, 28488, 28584),
 ('Illinois', 'F', 83, 26257, 28316),
 ('Illinois', 'F', 84, 23947, 26452),
 ('Illinois', 'F', 85, 140079, 166300),
 ('New Jersey', 'M', 0, 56983, 58756),
 ('New Jersey', 'M', 1, 56686, 57325),
 ('New Jersey', 'M', 2, 57011, 55475),
 ('New Jersey', 'M', 3, 57912, 56059),
 ('New Jersey', 'M', 4, 59359, 58048),
 ('New Jersey', 'M', 5, 60392, 58472),
 ('New Jersey', 'M', 6, 60739, 57080),
 ('New Jersey', 'M', 7, 61579, 56754),
 ('New Jersey', 'M', 8, 62089, 56616),
 ('New Jersey', 'M', 9, 63384, 56322),
 ('New Jersey', 'M', 10, 64593, 56617),
 ('New Jersey', 'M', 11, 62494, 57482),
 ('New Jersey', 'M', 12, 60570, 58834),
 ('New Jersey', 'M', 13, 58189, 59925),
 ('New Jersey', 'M', 14, 57931, 60294),
 ('New Jersey', 'M', 15, 56752, 61056),
 ('New Jersey', 'M', 16, 55887, 61478),
 ('New Jersey', 'M', 17, 56712, 62450),
 ('New Jersey', 'M', 18, 53265, 62809),
 ('New Jersey', 'M', 19, 48344, 55700),
 ('New Jersey', 'M', 20, 49564, 55794),
 ('New Jersey', 'M', 21, 48141, 54769),
 ('New Jersey', 'M', 22, 48353, 55026),
 ('New Jersey', 'M', 23, 49130, 54730),
 ('New Jersey', 'M', 24, 48723, 53471),
 ('New Jersey', 'M', 25, 51092, 56073),
 ('New Jersey', 'M', 26, 50357, 55169),
 ('New Jersey', 'M', 27, 52179, 51964),
 ('New Jersey', 'M', 28, 55938, 52358),
 ('New Jersey', 'M', 29, 60638, 51467),
 ('New Jersey', 'M', 30, 64220, 52596),
 ('New Jersey', 'M', 31, 61484, 54346),
 ('New Jersey', 'M', 32, 61927, 54414),
 ('New Jersey', 'M', 33, 63487, 56786),
 ('New Jersey', 'M', 34, 66737, 56190),
 ('New Jersey', 'M', 35, 71274, 56869),
 ('New Jersey', 'M', 37, 71026, 64156),
 ('New Jersey', 'M', 38, 71811, 67107),
 ('New Jersey', 'M', 39, 72043, 63562),
 ('New Jersey', 'M', 40, 73665, 63306),
 ('New Jersey', 'M', 41, 70514, 64273),
 ('New Jersey', 'M', 42, 69835, 67210),
 ('New Jersey', 'M', 43, 68650, 71249),
 ('New Jersey', 'M', 44, 65564, 71097),
 ('District of Columbia', 'M', 0, 3358, 4017),
 ('District of Columbia', 'M', 1, 3084, 3977),
 ('District of Columbia', 'M', 2, 3357, 3625),
 ('District of Columbia', 'M', 3, 3245, 3525),
 ('District of Columbia', 'M', 4, 3361, 3456),
 ('District of Columbia', 'M', 5, 3360, 3341),
 ('District of Columbia', 'M', 6, 3504, 2831),
 ('District of Columbia', 'M', 7, 3600, 3156),
 ('District of Columbia', 'M', 8, 3600, 2997),
 ('District of Columbia', 'M', 9, 3542, 2335),
 ('District of Columbia', 'M', 10, 3566, 2878),
 ('District of Columbia', 'M', 11, 3119, 2610),
 ('District of Columbia', 'M', 12, 2857, 2902),
 ('District of Columbia', 'M', 13, 2848, 2793),
 ('District of Columbia', 'M', 14, 2746, 3034),
 ('District of Columbia', 'M', 15, 2851, 3102),
 ('District of Columbia', 'M', 16, 2835, 3300),
 ('District of Columbia', 'M', 17, 2887, 3199),
 ('District of Columbia', 'M', 18, 4020, 4457),
 ('District of Columbia', 'M', 19, 5264, 5406),
 ('District of Columbia', 'M', 20, 5016, 4710),
 ('District of Columbia', 'M', 21, 4709, 4718),
 ('District of Columbia', 'M', 22, 4348, 4622),
 ('District of Columbia', 'M', 23, 4399, 4592),
 ('District of Columbia', 'M', 24, 4554, 5569),
 ('District of Columbia', 'M', 25, 4721, 4931),
 ('District of Columbia', 'M', 26, 4609, 6682),
 ('District of Columbia', 'M', 27, 4879, 5187),
 ('District of Columbia', 'M', 28, 4957, 5772),
 ('District of Columbia', 'M', 29, 5377, 5997),
 ('District of Columbia', 'M', 30, 5562, 4864),
 ('District of Columbia', 'M', 31, 4801, 4871),
 ('District of Columbia', 'M', 32, 4652, 4615),
 ('District of Columbia', 'M', 33, 4328, 4948),
 ('District of Columbia', 'M', 34, 4639, 3829),
 ('District of Columbia', 'M', 35, 4915, 4668),
 ('District of Columbia', 'M', 37, 4497, 4267),
 ('District of Columbia', 'M', 38, 4247, 4857),
 ('District of Columbia', 'M', 39, 4367, 4034),
 ('District of Columbia', 'M', 40, 4515, 4176),
 ('District of Columbia', 'M', 41, 4081, 3595),
 ('District of Columbia', 'M', 42, 4066, 3753),
 ('District of Columbia', 'M', 43, 3926, 4175),
 ('District of Columbia', 'M', 44, 3759, 4293),
 ('District of Columbia', 'M', 45, 3920, 3957),
 ('District of Columbia', 'M', 46, 3858, 3935),
 ('District of Columbia', 'M', 47, 3750, 3712),
 ('District of Columbia', 'M', 48, 3447, 3976),
 ('District of Columbia', 'M', 49, 3699, 3679),
 ('District of Columbia', 'M', 50, 3677, 3697),
 ('District of Columbia', 'M', 51, 3508, 3591),
 ('District of Columbia', 'M', 52, 3405, 3350),
 ('District of Columbia', 'M', 53, 3449, 3626),
 ('District of Columbia', 'M', 54, 2686, 3338),
 ('District of Columbia', 'M', 55, 2762, 3383),
 ('District of Columbia', 'M', 56, 2626, 2869),
 ('District of Columbia', 'M', 57, 2558, 3246),
 ('District of Columbia', 'M', 58, 2460, 3144),
 ('District of Columbia', 'M', 59, 2283, 3078),
 ('District of Columbia', 'M', 60, 2251, 2818),
 ('District of Columbia', 'M', 61, 2154, 2944),
 ('District of Columbia', 'M', 62, 2055, 2187),
 ('District of Columbia', 'M', 63, 1791, 2318),
 ('District of Columbia', 'M', 64, 1805, 2257),
 ('District of Columbia', 'M', 65, 1807, 2046),
 ('District of Columbia', 'M', 66, 1645, 1967),
 ('District of Columbia', 'M', 67, 1647, 1743),
 ('District of Columbia', 'M', 68, 1516, 1699),
 ('District of Columbia', 'M', 69, 1511, 1644),
 ('District of Columbia', 'M', 70, 1498, 1611),
 ('District of Columbia', 'M', 71, 1399, 1320),
 ('District of Columbia', 'M', 72, 1417, 1304),
 ('District of Columbia', 'M', 73, 1356, 1359),
 ('District of Columbia', 'M', 74, 1235, 1162),
 ('District of Columbia', 'M', 75, 1275, 1122),
 ('District of Columbia', 'M', 76, 1182, 1022),
 ('District of Columbia', 'M', 77, 1110, 982),
 ('District of Columbia', 'M', 78, 1060, 933),
 ('District of Columbia', 'M', 79, 972, 899),
 ('District of Columbia', 'M', 80, 939, 827),
 ('District of Columbia', 'M', 81, 783, 832),
 ('District of Columbia', 'M', 82, 639, 704),
 ('District of Columbia', 'M', 83, 587, 645),
 ('District of Columbia', 'M', 84, 481, 624),
 ('District of Columbia', 'M', 85, 2441, 3195),
 ('District of Columbia', 'F', 0, 3219, 3869),
 ('District of Columbia', 'F', 1, 3120, 3640),
 ('District of Columbia', 'F', 2, 3106, 3484),
 ('District of Columbia', 'F', 3, 3204, 3326),
 ('District of Columbia', 'F', 4, 3334, 3433),
 ('District of Columbia', 'F', 5, 3387, 2849),
 ('District of Columbia', 'F', 6, 3496, 2797),
 ('District of Columbia', 'F', 7, 3493, 3117),
 ('District of Columbia', 'F', 8, 3528, 2580),
 ('District of Columbia', 'F', 9, 3561, 2608),
 ('District of Columbia', 'F', 10, 3456, 2529),
 ('District of Columbia', 'F', 11, 3054, 2563),
 ('District of Columbia', 'F', 12, 2896, 2748),
 ('District of Columbia', 'F', 13, 2859, 2805),
 ('District of Columbia', 'F', 14, 2700, 3017),
 ('District of Columbia', 'F', 15, 2738, 3083),
 ('District of Columbia', 'F', 16, 2792, 3175),
 ('District of Columbia', 'F', 17, 2943, 3315),
 ('District of Columbia', 'F', 18, 4869, 5377),
 ('District of Columbia', 'F', 19, 6429, 6317),
 ('District of Columbia', 'F', 20, 5907, 5687),
 ('District of Columbia', 'F', 21, 5520, 5842),
 ('District of Columbia', 'F', 22, 5435, 5384),
 ('District of Columbia', 'F', 23, 5594, 5672),
 ('District of Columbia', 'F', 24, 5688, 6365),
 ('District of Columbia', 'F', 25, 5669, 6145),
 ('District of Columbia', 'F', 26, 5256, 7164),
 ('District of Columbia', 'F', 27, 5328, 4927),
 ('District of Columbia', 'F', 28, 5363, 8131),
 ('District of Columbia', 'F', 29, 5686, 4980),
 ('District of Columbia', 'F', 30, 5676, 5204),
 ('District of Columbia', 'F', 31, 4867, 5339),
 ('District of Columbia', 'F', 32, 4753, 4893),
 ('District of Columbia', 'F', 33, 4479, 4811),
 ('District of Columbia', 'F', 34, 4462, 4458),
 ('District of Columbia', 'F', 35, 4722, 4749),
 ('District of Columbia', 'F', 36, 4648, 4063),
 ('District of Columbia', 'F', 37, 4370, 4314),
 ('District of Columbia', 'F', 38, 4266, 4936),
 ('District of Columbia', 'F', 39, 4356, 3883),
 ('District of Columbia', 'F', 40, 4507, 4195),
 ('District of Columbia', 'F', 41, 4193, 3843),
 ('District of Columbia', 'F', 42, 4063, 3789),
 ('District of Columbia', 'F', 43, 4240, 4064),
 ('District of Columbia', 'F', 44, 4080, 4201),
 ('District of Columbia', 'F', 45, 4349, 4107),
 ('District of Columbia', 'F', 46, 4144, 3852),
 ('District of Columbia', 'F', 47, 4072, 4011),
 ('District of Columbia', 'F', 48, 4041, 4202),
 ('District of Columbia', 'F', 49, 4086, 3873),
 ('District of Columbia', 'F', 50, 4237, 3872),
 ('District of Columbia', 'F', 51, 4079, 4124),
 ('District of Columbia', 'F', 52, 4004, 3719),
 ('District of Columbia', 'F', 53, 3987, 4090),
 ('District of Columbia', 'F', 54, 3163, 4045),
 ('District of Columbia', 'F', 55, 3224, 3727),
 ('District of Columbia', 'F', 56, 3251, 3809),
 ('District of Columbia', 'F', 57, 3136, 3936),
 ('District of Columbia', 'F', 58, 2851, 3870),
 ('District of Columbia', 'F', 59, 2700, 3668),
 ('District of Columbia', 'F', 60, 2793, 3647),
 ('District of Columbia', 'F', 61, 2360, 3726),
 ('District of Columbia', 'F', 62, 2433, 2752),
 ('District of Columbia', 'F', 63, 2206, 2851),
 ('District of Columbia', 'F', 64, 2137, 2827),
 ('District of Columbia', 'F', 65, 2195, 2751),
 ('District of Columbia', 'F', 66, 2061, 2500),
 ('District of Columbia', 'F', 67, 2100, 2280),
 ('District of Columbia', 'F', 68, 1980, 2391),
 ('District of Columbia', 'F', 69, 1977, 1962),
 ('District of Columbia', 'F', 70, 2193, 2007),
 ('District of Columbia', 'F', 71, 2118, 1821),
 ('District of Columbia', 'F', 72, 1978, 1734),
 ('District of Columbia', 'F', 73, 2071, 1780),
 ('District of Columbia', 'F', 74, 2020, 1649),
 ('District of Columbia', 'F', 75, 2049, 1643),
 ('District of Columbia', 'F', 76, 1946, 1477),
 ('District of Columbia', 'F', 77, 1949, 1448),
 ('District of Columbia', 'F', 78, 1751, 1579),
 ('District of Columbia', 'F', 79, 1681, 1528),
 ('District of Columbia', 'F', 80, 1627, 1365),
 ('District of Columbia', 'F', 81, 1380, 1408),
 ('District of Columbia', 'F', 82, 1327, 1327),
 ('District of Columbia', 'F', 83, 1195, 1274),
 ('District of Columbia', 'F', 84, 1090, 1135),
 ('New Jersey', 'M', 45, 65529, 69934),
 ('New Jersey', 'M', 46, 61817, 70961),
 ('New Jersey', 'M', 47, 59206, 70886),
 ('New Jersey', 'M', 48, 56977, 71595),
 ('New Jersey', 'M', 49, 55780, 68022),
 ('New Jersey', 'M', 50, 56235, 67401),
 ('New Jersey', 'M', 51, 53235, 65757),
 ('New Jersey', 'M', 52, 54900, 62616),
 ('New Jersey', 'M', 53, 58013, 62490),
 ('New Jersey', 'M', 54, 43584, 58355),
 ('New Jersey', 'M', 55, 42959, 55466),
 ('New Jersey', 'M', 56, 42179, 53088),
 ('New Jersey', 'M', 57, 45575, 51211),
 ('New Jersey', 'M', 58, 38376, 51039),
 ('New Jersey', 'M', 59, 34722, 47299),
 ('New Jersey', 'M', 60, 34278, 48085),
 ('New Jersey', 'M', 61, 32730, 51579),
 ('New Jersey', 'M', 62, 31589, 37378),
 ('New Jersey', 'M', 63, 29440, 36620),
 ('New Jersey', 'M', 64, 28747, 34605),
 ('New Jersey', 'M', 65, 27751, 38210),
 ('New Jersey', 'M', 66, 26129, 32006),
 ('New Jersey', 'M', 67, 26479, 28279),
 ('New Jersey', 'M', 68, 26076, 27635),
 ('New Jersey', 'M', 69, 25811, 26304),
 ('New Jersey', 'M', 70, 26370, 25459),
 ('New Jersey', 'M', 71, 24801, 23197),
 ('New Jersey', 'M', 72, 24358, 22627),
 ('New Jersey', 'M', 73, 23724, 21789),
 ('New Jersey', 'M', 74, 22304, 19294),
 ('New Jersey', 'M', 75, 21663, 19267),
 ('New Jersey', 'M', 76, 20280, 18629),
 ('New Jersey', 'M', 77, 18958, 17897),
 ('New Jersey', 'M', 78, 17839, 17860),
 ('New Jersey', 'M', 79, 17030, 16034),
 ('New Jersey', 'M', 80, 15262, 15261),
 ('New Jersey', 'M', 81, 12609, 14193),
 ('New Jersey', 'M', 82, 12104, 12912),
 ('New Jersey', 'M', 83, 10004, 12085),
 ('New Jersey', 'M', 84, 8864, 10759),
 ('New Jersey', 'M', 85, 39309, 54920),
 ('New Jersey', 'F', 0, 54679, 55841),
 ('New Jersey', 'F', 1, 53913, 54437),
 ('New Jersey', 'F', 2, 54744, 52450),
 ('New Jersey', 'F', 3, 55427, 53490),
 ('New Jersey', 'F', 4, 56860, 55540),
 ('New Jersey', 'F', 5, 57486, 55247),
 ('New Jersey', 'F', 6, 57751, 54660),
 ('New Jersey', 'F', 7, 58696, 53617),
 ('New Jersey', 'F', 8, 59465, 54257),
 ('New Jersey', 'F', 9, 60277, 53421),
 ('New Jersey', 'F', 10, 61606, 54270),
 ('New Jersey', 'F', 11, 59279, 54850),
 ('New Jersey', 'F', 12, 57384, 56348),
 ('New Jersey', 'F', 13, 55913, 56884),
 ('New Jersey', 'F', 14, 54804, 57080),
 ('New Jersey', 'F', 15, 54208, 58022),
 ('New Jersey', 'F', 16, 52815, 58825),
 ('New Jersey', 'F', 17, 52918, 59284),
 ('New Jersey', 'F', 18, 48383, 58217),
 ('New Jersey', 'F', 19, 45910, 51872),
 ('New Jersey', 'F', 20, 47658, 52726),
 ('New Jersey', 'F', 21, 46601, 54512),
 ('New Jersey', 'F', 22, 46518, 52223),
 ('New Jersey', 'F', 23, 47909, 52601),
 ('New Jersey', 'F', 24, 47751, 51185),
 ('New Jersey', 'F', 25, 49805, 53116),
 ('New Jersey', 'F', 26, 50344, 51334),
 ('New Jersey', 'F', 27, 52524, 48697),
 ('New Jersey', 'F', 28, 56102, 52359),
 ('New Jersey', 'F', 29, 61685, 47013),
 ('New Jersey', 'F', 30, 64873, 51329),
 ('New Jersey', 'F', 31, 62665, 53082),
 ('New Jersey', 'F', 32, 63572, 53301),
 ('New Jersey', 'F', 33, 65517, 54789),
 ('New Jersey', 'F', 34, 68457, 56177),
 ('New Jersey', 'F', 35, 72558, 57404),
 ('New Jersey', 'F', 36, 73865, 59897),
 ('New Jersey', 'F', 37, 73266, 64997),
 ('New Jersey', 'F', 38, 72927, 67366),
 ('New Jersey', 'F', 39, 73816, 64546),
 ('New Jersey', 'F', 40, 75226, 64632),
 ('New Jersey', 'F', 41, 73159, 66421),
 ('New Jersey', 'F', 42, 72371, 68732),
 ('New Jersey', 'F', 43, 71100, 72619),
 ('New Jersey', 'F', 44, 68286, 73252),
 ('New Jersey', 'F', 45, 67763, 72477),
 ('New Jersey', 'F', 46, 64313, 71522),
 ('New Jersey', 'F', 47, 62759, 72520),
 ('New Jersey', 'F', 48, 60526, 73425),
 ('New Jersey', 'F', 49, 59877, 71188),

### Handling a ResultSet

In [7]:
# Get the first row of the results by using an index: first_row
first_row = results[0]

# Print the first row of the results
print(first_row)

# Print the first column of the first row by accessing it by its index
print(first_row[0])

# Print the 'state' column of the first row by using its name
print(first_row['state'])

('Illinois', 'M', 0, 89600, 95012)
Illinois
Illinois

## 2. Applying Filtering, Ordering and Grouping to Queries

### Connecting to a PostgreSQL Database

In [8]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('postgresql+psycopg2://'+'student:datacamp'+'@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com'+':5432/census')

# Use the .table_names() method on the engine to print the table names
print(engine.table_names())

['census', 'state_fact', 'vrska', 'census1', 'data', 'data1', 'employees3', 'users', 'employees', 'employees_2']

### Filter data selected from a Table - Simple

In [9]:
# Create a select query: stmt
stmt = select([census])
# Add a where clause to filter the results to only those for New York
stmt = stmt.where(census.columns.state == 'New York')
# Execute the query to retrieve all the data returned: results
results = connection.execute(stmt)
# Loop over the results and print the age, sex, and pop2008
for result in results:
    print(result.age, result.sex, result.pop2008)

0 M 128088
1 M 125649
2 M 121615
3 M 120580
4 M 122482
5 M 121205
6 M 120089
7 M 122355
8 M 118653
9 M 117369
10 M 118810
11 M 121121
12 M 126338
13 M 128713
14 M 129812
15 M 134463
16 M 136569
17 M 140114
18 M 156892
19 M 147556
20 M 146611
21 M 141932
22 M 138557
23 M 136150
24 M 132383
25 M 141850
26 M 129603
27 M 131419
28 M 127224
29 M 122449
30 M 126404
31 M 126124
32 M 123362
33 M 126486
34 M 120030
35 M 123017
37 M 136270
38 M 144715
39 M 135027
40 M 135355
41 M 132905
42 M 140025
43 M 151555
44 M 149030
45 M 148147
46 M 146692
47 M 147648
48 M 155155
49 M 144287
50 M 143466
51 M 139630
52 M 133939
53 M 136723
54 M 125953
55 M 122478
56 M 118070
57 M 115823
58 M 117177
59 M 108293
60 M 106825
61 M 113681
62 M 83763
63 M 81226
64 M 76961
65 M 82242
66 M 70423
67 M 64117
68 M 63657
69 M 58801
70 M 57609
71 M 53231
72 M 51132
73 M 50696
74 M 44822
75 M 43592
76 M 41900
77 M 40417
78 M 40241
79 M 35941
80 M 34659
81 M 32022
82 M 28890
83 M 27217
84 M 23879
85 M 124478
0 F 122194
1 F 119661
2 F 116413
3 F 114877
4 F 116936
5 F 116051
6 F 115186
7 F 116951
8 F 113279
9 F 111919
10 F 113891
11 F 115607
12 F 120156
13 F 123797
14 F 124343
15 F 127635
16 F 130769
17 F 134311
18 F 150772
19 F 142871
20 F 141831
21 F 142302
22 F 138703
23 F 138084
24 F 135339
25 F 141601
26 F 130002
27 F 129600
28 F 129868
29 F 119821
30 F 125047
31 F 127486
32 F 123742
33 F 126908
34 F 121824
35 F 124485
36 F 130377
37 F 140890
38 F 148408
39 F 137936
40 F 138561
41 F 139720
42 F 145307
43 F 154437
44 F 154805
45 F 153651
46 F 151107
47 F 154997
48 F 158855
49 F 151022
50 F 149883
51 F 146988
52 F 142566
53 F 144121
54 F 135180
55 F 132338
56 F 127500
57 F 126450
58 F 128713
59 F 121743
60 F 119540
61 F 126847
62 F 96462
63 F 94667
64 F 90185
65 F 97321
66 F 83336
67 F 77404
68 F 77802
69 F 71850
70 F 71451
71 F 66625
72 F 65037
73 F 65719
74 F 58818
75 F 58722
76 F 57584
77 F 56907
78 F 58456
79 F 54136
80 F 52932
81 F 50693
82 F 48206
83 F 47777
84 F 43454
85 F 273476
0 M 128088
1 M 125649
2 M 121615
3 M 120580
4 M 122482
5 M 121205
6 M 120089
7 M 122355
8 M 118653
9 M 117369
10 M 118810
11 M 121121
12 M 126338
13 M 128713
14 M 129812
15 M 134463
16 M 136569
17 M 140114
18 M 156892
19 M 147556
20 M 146611
21 M 141932
22 M 138557
23 M 136150
24 M 132383
25 M 141850
26 M 129603
27 M 131419
28 M 127224
29 M 122449
30 M 126404
31 M 126124
32 M 123362
33 M 126486
34 M 120030
35 M 123017
36 M 127076
37 M 136270
38 M 144715
39 M 135027
40 M 135355
41 M 132905
42 M 140025
43 M 151555
44 M 149030
45 M 148147
46 M 146692
47 M 147648
48 M 155155
49 M 144287
50 M 143466
51 M 139630
52 M 133939
53 M 136723
54 M 125953
55 M 122478
56 M 118070
57 M 115823
58 M 117177
59 M 108293
60 M 106825
61 M 113681
62 M 83763
63 M 81226
64 M 76961
65 M 82242
66 M 70423
67 M 64117
68 M 63657
69 M 58801
70 M 57609
71 M 53231
72 M 51132
73 M 50696
74 M 44822
75 M 43592
76 M 41900
77 M 40417
78 M 40241
79 M 35941
80 M 34659
81 M 32022
82 M 28890
83 M 27217
84 M 23879
85 M 124478
0 F 122194
1 F 119661
2 F 116413
3 F 114877
4 F 116936
5 F 116051
6 F 115186
7 F 116951
8 F 113279
9 F 111919
10 F 113891
11 F 115607
12 F 120156
13 F 123797
14 F 124343
15 F 127635
16 F 130769
17 F 134311
18 F 150772
19 F 142871
20 F 141831
21 F 142302
22 F 138703
23 F 138084
24 F 135339
25 F 141601
26 F 130002
27 F 129600
28 F 129868
29 F 119821
30 F 125047
31 F 127486
32 F 123742
33 F 126908
34 F 121824
35 F 124485
36 F 130377
37 F 140890
38 F 148408
39 F 137936
40 F 138561
41 F 139720
42 F 145307
43 F 154437
44 F 154805
45 F 153651
46 F 151107
47 F 154997
48 F 158855
49 F 151022
50 F 149883
51 F 146988
52 F 142566
53 F 144121
54 F 135180
55 F 132338
56 F 127500
57 F 126450
58 F 128713
59 F 121743
60 F 119540
61 F 126847
62 F 96462
63 F 94667
64 F 90185
65 F 97321
66 F 83336
67 F 77404
68 F 77802
69 F 71850
70 F 71451
71 F 66625
72 F 65037
73 F 65719
74 F 58818
75 F 58722
76 F 57584
77 F 56907
78 F 58456
79 F 54136
80 F 52932
81 F 50693
82 F 48206
83 F 47777
84 F 43454
85 F 273476

### Filter data selected from a Table - Expressions

In [10]:
states = ['New York', 'California', 'Texas']
# Create a query for the census table: stmt
stmt = select([census])

# Append a where clause to match all the states in_ the list states
stmt = stmt.where(census.columns.state.in_(states))

# Loop over the ResultProxy and print the state and its population in 2000
for result in connection.execute(stmt):
    print(result.state, result.pop2000)

New York 126237
New York 124008
New York 124725
New York 126697
New York 131357
New York 133095
New York 134203
New York 137986
New York 139455
New York 142454
New York 145621
New York 138746
New York 135565
New York 132288
New York 132388
New York 131959
New York 130189
New York 132566
New York 132672
New York 133654
New York 132121
New York 126166
New York 123215
New York 121282
New York 118953
New York 123151
New York 118727
New York 122359
New York 128651
New York 140687
New York 149558
New York 139477
New York 138911
New York 139031
New York 145440
New York 156168
New York 152078
New York 150765
New York 152606
New York 159345
New York 148628
New York 147892
New York 144195
New York 139354
New York 141953
New York 131875
New York 128767
New York 125406
New York 124155
New York 125955
New York 118542
New York 118532
New York 124418
New York 95025
New York 92652
New York 90096
New York 95340
New York 83273
New York 77213
New York 77054
New York 72212
New York 70967
New York 66461
New York 64361
New York 64385
New York 58819
New York 58176
New York 57310
New York 57057
New York 57761
New York 53775
New York 53568
New York 51263
New York 48440
New York 46702
New York 43508
New York 40730
New York 37950
New York 35774
New York 32453
New York 26803
California 252494
California 247978
California 250644
California 257443
California 266855
California 272801
California 274899
California 277580
California 283553
California 285478
California 284518
California 269009
California 262671
California 254889
California 253023
California 251962
California 249220
California 255482
California 252607
California 248356
California 250156
California 238235
California 235718
California 239698
California 240655
California 250964
California 245324
California 251413
California 260869
California 276142
California 293816
California 273159
California 268484
California 263472
California 269607
California 286895
California 280861
California 281214
California 278802
California 290332
California 267684
California 268045
California 261885
California 252175
California 255340
California 239126
California 229057
California 219293
California 214700
California 219017
California 203068
California 200466
California 207237
California 160674
California 158483
California 150235
California 150046
California 133017
California 124106
California 121984
California 114331
California 110491
California 102859
California 99345
California 100052
California 91053
California 89634
California 88258
California 87840
California 88575
California 80843
California 79376
California 76365
California 73697
California 72885
California 69738
California 65865
California 62867
California 58012
California 51806
California 43254
California 40083
California 34144
California 30384
California 136442
California 239605
California 236543
California 240010
California 245739
California 254522
California 260264
California 261296
California 264083
California 270447
California 271482
California 270567
California 256656
California 249887
California 242724
California 240752
California 240170
California 233186
California 235767
California 234949
California 233477
California 233532
California 223990
California 222035
California 227742
California 228401
California 238602
California 233133
California 240008
California 249185
California 266010
California 278894
California 260916
California 256168
California 252784
California 256283
California 276234
California 277592
California 276277
California 275129
California 276094
California 283554
California 265614
California 265895
California 263355
California 255016
California 256779
California 244172
California 236211
California 226391
California 221928
California 225414
California 212545
California 208500
California 215228
California 168388
California 166675
California 158368
California 160423
California 142287
California 133235
California 132033
California 123328
California 120982
California 114959
California 111942
California 113547
California 104910
California 103883
California 102061
California 103181
California 106514
California 99453
California 100574
California 99772
California 99390
California 99277
California 95046
California 90193
California 86911
California 81990
California 75849
California 65410
California 61518
California 54748
California 50746
California 294583
New York 25041
New York 21687
New York 18873
New York 88366
New York 120355
New York 118219
New York 119577
New York 121029
New York 125247
New York 128227
New York 128428
New York 131161
New York 133646
New York 135746
New York 138287
New York 131904
New York 129028
New York 126571
New York 125682
New York 125409
New York 122770
New York 123978
New York 125307
New York 127956
New York 129184
New York 124575
New York 123701
New York 124108
New York 122624
New York 127474
New York 123033
New York 128125
New York 134795
New York 146832
New York 152973
New York 144001
New York 143930
New York 144653
New York 151147
New York 159228
New York 159999
New York 157911
New York 156103
New York 159284
New York 163331
New York 155353
New York 153688
New York 151615
New York 146774
New York 148318
New York 139802
New York 138062
New York 134107
New York 134399
New York 136630
New York 130843
New York 130196
New York 136064
New York 106579
New York 104847
New York 101857
New York 108406
New York 94346
New York 88584
New York 88932
New York 82899
New York 82172
New York 77171
New York 76032
New York 76498
New York 70465
New York 71088
New York 70847
New York 71377
New York 74378
New York 70611
New York 70513
New York 69156
New York 68042
New York 68410
New York 64971
New York 61287
New York 58911
New York 56865
New York 54553
New York 46381
New York 45599
New York 40525
New York 37436
New York 226378
Texas 172223
Texas 165635
Texas 165337
Texas 164292
Texas 165785
Texas 166278
Texas 167170
Texas 169210
Texas 171199
Texas 170521
Texas 173734
Texas 167859
Texas 166474
Texas 166014
Texas 166081
Texas 167257
Texas 165881
Texas 171567
Texas 170011
Texas 164671
Texas 163295
Texas 153946
Texas 150839
Texas 152673
Texas 153769
Texas 156739
Texas 153181
Texas 155480
Texas 161048
Texas 165852
Texas 167982
Texas 158505
Texas 153855
Texas 151149
Texas 155095
Texas 164514
Texas 168668
Texas 167261
Texas 169195
Texas 173212
Texas 164647
Texas 163690
Texas 161774
Texas 154542
Texas 154603
Texas 145891
Texas 141254
Texas 133710
Texas 129998
Texas 128278
Texas 123298
Texas 120815
Texas 126031
Texas 95701
Texas 95537
Texas 93337
Texas 91482
Texas 82603
Texas 76614
Texas 73441
Texas 69422
Texas 67820
Texas 63502
Texas 62593
Texas 62994
Texas 57324
Texas 55581
Texas 54657
Texas 53235
Texas 52902
Texas 49046
Texas 46608
Texas 44784
Texas 42390
Texas 40487
Texas 37785
Texas 35332
Texas 33199
Texas 29635
Texas 27357
Texas 21864
Texas 20249
Texas 16946
Texas 15033
Texas 69392
Texas 164724
Texas 158669
Texas 157386
Texas 157374
Texas 158236
Texas 158722
Texas 160506
Texas 162126
Texas 163788
Texas 163500
Texas 165717
Texas 160176
Texas 159167
Texas 158693
Texas 158580
Texas 159654
Texas 155841
Texas 158372
Texas 156767
Texas 156778
Texas 156625
Texas 147729
Texas 144433
Texas 147865
Texas 146961
Texas 151098
Texas 148823
Texas 151810
Texas 158452
Texas 165252
Texas 164600
Texas 155658
Texas 150518
Texas 148996
Texas 152593
Texas 163350
Texas 167597
Texas 168463
Texas 168421
Texas 169355
Texas 171412
Texas 164244
Texas 163809
Texas 162822
Texas 155226
Texas 155427
Texas 149105
Texas 144081
Texas 136873
Texas 133610
Texas 133121
Texas 127211
Texas 125058
Texas 129694
Texas 99379
Texas 100403
Texas 97778
Texas 95755
Texas 87189
Texas 82764
Texas 79048
Texas 75160
Texas 74358
Texas 70332
Texas 70089
Texas 71266
Texas 65074
Texas 64383
Texas 63639
Texas 62713
Texas 64996
Texas 59894
Texas 58527
Texas 57708
Texas 56446
Texas 55989
Texas 52656
Texas 48993
Texas 47681
Texas 44609
Texas 42132
Texas 35378
Texas 33852
Texas 30076
Texas 27961
Texas 171538
New York 126237
New York 124008
New York 124725
New York 126697
New York 131357
New York 133095
New York 134203
New York 137986
New York 139455
New York 142454
New York 145621
New York 138746
New York 135565
New York 132288
New York 132388
New York 131959
New York 130189
New York 132566
New York 132672
New York 133654
New York 132121
New York 126166
New York 123215
New York 121282
New York 118953
New York 123151
New York 118727
New York 122359
New York 128651
New York 140687
New York 149558
New York 139477
New York 138911
New York 139031
New York 145440
New York 156168
New York 153840
New York 152078
New York 150765
New York 152606
New York 159345
New York 148628
New York 147892
New York 144195
New York 139354
New York 141953
New York 131875
New York 128767
New York 125406
New York 124155
New York 125955
New York 118542
New York 118532
New York 124418
New York 95025

New York 92652
New York 90096
New York 95340
New York 83273
New York 77213
New York 77054
New York 72212
New York 70967
New York 66461
New York 64361
New York 64385
New York 58819
New York 58176
New York 57310
New York 57057
New York 57761
New York 53775
New York 53568
New York 51263
New York 48440
New York 46702
New York 43508
New York 40730
New York 37950
New York 35774
New York 32453
New York 26803
California 252494
California 247978
California 250644
California 257443
California 266855
California 272801
California 274899
California 277580
California 283553
California 285478
California 284518
California 269009
California 262671
California 254889
California 253023
California 251962
California 249220
California 255482
California 252607
California 248356
California 250156
California 238235
California 235718
California 239698
California 240655
California 250964
California 245324
California 251413
California 260869
California 276142
California 293816
California 273159
California 268484
California 263472
California 269607
California 286895
California 284414
California 280861
California 281214
California 278802
California 290332
California 267684
California 268045
California 261885
California 252175
California 255340
California 239126
California 229057
California 219293
California 214700
California 219017
California 203068
California 200466
California 207237
California 160674
California 158483
California 150235
California 150046
California 133017
California 124106
California 121984
California 114331
California 110491
California 102859
California 99345
California 100052
California 91053
California 89634
California 88258
California 87840
California 88575
California 80843
California 79376
California 76365
California 73697
California 72885
California 69738
California 65865
California 62867
California 58012
California 51806
California 43254
California 40083
California 34144
California 30384
California 136442
California 239605
California 236543
California 240010
California 245739
California 254522
California 260264
California 261296
California 264083
California 270447
California 271482
California 270567
California 256656
California 249887
California 242724
California 240752
California 240170
California 233186
California 235767
California 234949
California 233477
California 233532
California 223990
California 222035
California 227742
California 228401
California 238602
California 233133
California 240008
California 249185
California 266010
California 278894
California 260916
California 256168
California 252784
California 256283
California 276234
California 277592
California 276277
California 275129
California 276094
California 283554
California 265614
California 265895
California 263355
California 255016
California 256779
California 244172
California 236211
California 226391
California 221928
California 225414
California 212545
California 208500
California 215228
California 168388
California 166675
California 158368
California 160423
California 142287
California 133235
California 132033
California 123328
California 120982
California 114959
California 111942
California 113547
California 104910
California 103883
California 102061
California 103181
California 106514
California 99453
California 100574
California 99772
California 99390
California 99277
California 95046
California 90193
California 86911
California 81990
California 75849
California 65410
California 61518
California 54748
California 50746
California 294583
New York 25041
New York 21687
New York 18873
New York 88366
New York 120355
New York 118219
New York 119577
New York 121029
New York 125247
New York 128227
New York 128428
New York 131161
New York 133646
New York 135746
New York 138287
New York 131904
New York 129028
New York 126571
New York 125682
New York 125409
New York 122770
New York 123978
New York 125307
New York 127956
New York 129184
New York 124575
New York 123701
New York 124108
New York 122624
New York 127474
New York 123033
New York 128125
New York 134795
New York 146832
New York 152973
New York 144001
New York 143930
New York 144653
New York 151147
New York 159228
New York 159999
New York 157911
New York 156103
New York 159284
New York 163331
New York 155353
New York 153688
New York 151615
New York 146774
New York 148318
New York 139802
New York 138062
New York 134107
New York 134399
New York 136630
New York 130843
New York 130196
New York 136064
New York 106579
New York 104847
New York 101857
New York 108406
New York 94346
New York 88584
New York 88932
New York 82899
New York 82172
New York 77171
New York 76032
New York 76498
New York 70465
New York 71088
New York 70847
New York 71377
New York 74378
New York 70611
New York 70513
New York 69156
New York 68042
New York 68410
New York 64971
New York 61287
New York 58911
New York 56865
New York 54553
New York 46381
New York 45599
New York 40525
New York 37436
New York 226378
Texas 172223
Texas 165635
Texas 165337
Texas 164292
Texas 165785
Texas 166278
Texas 167170
Texas 169210
Texas 171199
Texas 170521
Texas 173734
Texas 167859
Texas 166474
Texas 166014
Texas 166081
Texas 167257
Texas 165881
Texas 171567
Texas 170011
Texas 164671
Texas 163295
Texas 153946
Texas 150839
Texas 152673
Texas 153769
Texas 156739
Texas 153181
Texas 155480
Texas 161048
Texas 165852
Texas 167982
Texas 158505
Texas 153855
Texas 151149
Texas 155095
Texas 164514
Texas 167136
Texas 168668
Texas 167261
Texas 169195
Texas 173212
Texas 164647
Texas 163690
Texas 161774
Texas 154542
Texas 154603
Texas 145891
Texas 141254
Texas 133710
Texas 129998
Texas 128278
Texas 123298
Texas 120815
Texas 126031
Texas 95701
Texas 95537
Texas 93337
Texas 91482
Texas 82603
Texas 76614
Texas 73441
Texas 69422
Texas 67820
Texas 63502
Texas 62593
Texas 62994
Texas 57324
Texas 55581
Texas 54657
Texas 53235
Texas 52902
Texas 49046
Texas 46608
Texas 44784
Texas 42390
Texas 40487
Texas 37785
Texas 35332
Texas 33199
Texas 29635
Texas 27357
Texas 21864
Texas 20249
Texas 16946
Texas 15033
Texas 69392
Texas 164724
Texas 158669
Texas 157386
Texas 157374
Texas 158236
Texas 158722
Texas 160506
Texas 162126
Texas 163788
Texas 163500
Texas 165717
Texas 160176
Texas 159167
Texas 158693
Texas 158580
Texas 159654
Texas 155841
Texas 158372
Texas 156767
Texas 156778
Texas 156625
Texas 147729
Texas 144433
Texas 147865
Texas 146961
Texas 151098
Texas 148823
Texas 151810
Texas 158452
Texas 165252
Texas 164600
Texas 155658
Texas 150518
Texas 148996
Texas 152593
Texas 163350
Texas 167597
Texas 168463
Texas 168421
Texas 169355
Texas 171412
Texas 164244
Texas 163809
Texas 162822
Texas 155226
Texas 155427
Texas 149105
Texas 144081
Texas 136873
Texas 133610
Texas 133121
Texas 127211
Texas 125058
Texas 129694
Texas 99379
Texas 100403
Texas 97778
Texas 95755
Texas 87189
Texas 82764
Texas 79048
Texas 75160
Texas 74358
Texas 70332
Texas 70089
Texas 71266
Texas 65074
Texas 64383
Texas 63639
Texas 62713
Texas 64996
Texas 59894
Texas 58527
Texas 57708
Texas 56446
Texas 55989
Texas 52656
Texas 48993
Texas 47681
Texas 44609
Texas 42132
Texas 35378
Texas 33852
Texas 30076
Texas 27961
Texas 171538

### Filter data selected from a Table - Advanced

In [11]:
# Import and_
from sqlalchemy import and_

# Build a query for the census table: stmt
stmt = select([census])

# Append a where clause to select only non-male records from California using and_
stmt = stmt.where(
    # The state of California with a non-male sex
    and_(census.columns.state == 'California',
         census.columns.sex != 'M'
         )
)

# Loop over the ResultProxy printing the age and sex
for result in connection.execute(stmt):
    print(result.age, result.sex)

0 F
1 F
2 F
3 F
4 F
5 F
6 F
7 F
8 F
9 F
10 F
11 F
12 F
13 F
14 F
15 F
16 F
17 F
18 F
19 F
20 F
21 F
22 F
23 F
24 F
25 F
26 F
27 F
28 F
29 F
30 F
31 F
32 F
33 F
34 F
35 F
36 F
37 F
38 F
39 F
40 F
41 F
42 F
43 F
44 F
45 F
46 F
47 F
48 F
49 F
50 F
51 F
52 F
53 F
54 F
55 F
56 F
57 F
58 F
59 F
60 F
61 F
62 F
63 F
64 F
65 F
66 F
67 F
68 F
69 F
70 F
71 F
72 F
73 F
74 F
75 F
76 F
77 F
78 F
79 F
80 F
81 F
82 F
83 F
84 F
85 F
0 F
1 F
2 F
3 F
4 F
5 F
6 F
7 F
8 F
9 F
10 F
11 F
12 F
13 F
14 F
15 F
16 F
17 F
18 F
19 F
20 F
21 F
22 F
23 F
24 F
25 F
26 F
27 F
28 F
29 F
30 F
31 F
32 F
33 F
34 F
35 F
36 F
37 F
38 F
39 F
40 F
41 F
42 F
43 F
44 F
45 F
46 F
47 F
48 F
49 F
50 F
51 F
52 F
53 F
54 F
55 F
56 F
57 F
58 F
59 F
60 F
61 F
62 F
63 F
64 F
65 F
66 F
67 F
68 F
69 F
70 F
71 F
72 F
73 F
74 F
75 F
76 F
77 F
78 F
79 F
80 F
81 F
82 F
83 F
84 F
85 F

### Ordering by a Single Column

In [12]:
# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by the state column
stmt = stmt.order_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the first 10 results
print(results[:10])

[('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',)]

### Ordering in Descending Order by a Single Column

In [13]:
# Import desc
from sqlalchemy import desc

# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by state in descending order: rev_stmt
rev_stmt = stmt.order_by(desc(census.columns.state))

# Execute the query and store the results: rev_results
rev_results = connection.execute(rev_stmt).fetchall()

# Print the first 10 rev_results
print(rev_results[:10])

[('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',)]

### Ordering by Multiple Columns

In [14]:
# Build a query to select state and age: stmt
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print the first 20 results
print(results[:20])

[('Alabama', 85), ('Alabama', 85), ('Alabama', 85), ('Alabama', 85), ('Alabama', 84), ('Alabama', 84), ('Alabama', 84), ('Alabama', 84), ('Alabama', 83), ('Alabama', 83), ('Alabama', 83), ('Alabama', 83), ('Alabama', 82), ('Alabama', 82), ('Alabama', 82), ('Alabama', 82), ('Alabama', 81), ('Alabama', 81), ('Alabama', 81), ('Alabama', 81)]

### Counting Distinct Data

In [15]:
from sqlalchemy import func
# Build a query to count the distinct states values: stmt
stmt = select([func.count(census.columns.state.distinct())])

# Execute the query and store the scalar result: distinct_state_count
distinct_state_count = connection.execute(stmt).scalar()

# Print the distinct_state_count
print(distinct_state_count)

51

### Count of Records by State

In [16]:
# Import func
from sqlalchemy import func

# Build a query to select the state and count of ages by state: stmt
stmt = select([census.columns.state, func.count(census.columns.age)])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results)

# Print the keys/column names of the results returned
print(results[0].keys())

[('Alabama', 343), ('Alaska', 343), ('Arizona', 343), ('Arkansas', 343), ('California', 343), ('Colorado', 343), ('Connecticut', 343), ('Delaware', 343), ('District of Columbia', 343), ('Florida', 343), ('Georgia', 343), ('Hawaii', 343), ('Idaho', 343), ('Illinois', 343), ('Indiana', 343), ('Iowa', 343), ('Kansas', 343), ('Kentucky', 343), ('Louisiana', 343), ('Maine', 343), ('Maryland', 343), ('Massachusetts', 343), ('Michigan', 343), ('Minnesota', 343), ('Mississippi', 343), ('Missouri', 343), ('Montana', 343), ('Nebraska', 343), ('Nevada', 343), ('New Hampshire', 343), ('New Jersey', 343), ('New Mexico', 343), ('New York', 343), ('North Carolina', 343), ('North Dakota', 343), ('Ohio', 343), ('Oklahoma', 343), ('Oregon', 343), ('Pennsylvania', 343), ('Rhode Island', 343), ('South Carolina', 343), ('South Dakota', 343), ('Tennessee', 343), ('Texas', 343), ('Utah', 343), ('Vermont', 343), ('Virginia', 343), ('Washington', 343), ('West Virginia', 343), ('Wisconsin', 343), ('Wyoming', 343)]
['state', 'count_1']

### Determining the Population Sum by State

In [17]:
# Import func
from sqlalchemy import func

# Build an expression to calculate the sum of pop2008 labeled as population
pop2008_sum = func.sum(census.columns.pop2008).label('population')

# Build a query to select the state and sum of pop2008: stmt
stmt = select([census.columns.state, pop2008_sum])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results)

# Print the keys/column names of the results returned
print(results[0].keys())

[('Alabama', 9268968), ('Alaska', 1324524), ('Arizona', 12916129), ('Arkansas', 5679024), ('California', 72951610), ('Colorado', 9788556), ('Connecticut', 6965109), ('Delaware', 1732923), ('District of Columbia', 1173708), ('Florida', 36397073), ('Georgia', 19173559), ('Hawaii', 2492742), ('Idaho', 3028256), ('Illinois', 25643904), ('Indiana', 12704136), ('Iowa', 5982693), ('Kansas', 5547138), ('Kentucky', 8481056), ('Louisiana', 8765222), ('Maine', 2617878), ('Maryland', 11172205), ('Massachusetts', 12940916), ('Michigan', 19932234), ('Minnesota', 10397960), ('Mississippi', 5826795), ('Missouri', 11747056), ('Montana', 1922181), ('Nebraska', 3542392), ('Nevada', 5138900), ('New Hampshire', 2620605), ('New Jersey', 17279756), ('New Mexico', 3938112), ('New York', 38803242), ('North Carolina', 18177990), ('North Dakota', 1265144), ('Ohio', 22880482), ('Oklahoma', 7218956), ('Oregon', 7547437), ('Pennsylvania', 24801480), ('Rhode Island', 2086401), ('South Carolina', 8848557), ('South Dakota', 1597347), ('Tennessee', 12362352), ('Texas', 48252332), ('Utah', 5444055), ('Vermont', 1237449), ('Virginia', 15245491), ('Washington', 12958920), ('West Virginia', 3614110), ('Wisconsin', 11214554), ('Wyoming', 1055764)]
['state', 'population']

### SQLAlchemy ResultsProxy and Pandas Dataframes

In [18]:
# import pandas
import pandas as pd

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set column names
df.columns = results[0].keys()

# Print the Dataframe
df

                   state  population
0                Alabama     9268968
1                 Alaska     1324524
2                Arizona    12916129
3               Arkansas     5679024
4             California    72951610
5               Colorado     9788556
6            Connecticut     6965109
7               Delaware     1732923
8   District of Columbia     1173708
9                Florida    36397073
10               Georgia    19173559
11                Hawaii     2492742
12                 Idaho     3028256
13              Illinois    25643904
14               Indiana    12704136
15                  Iowa     5982693
16                Kansas     5547138
17              Kentucky     8481056
18             Louisiana     8765222
19                 Maine     2617878
20              Maryland    11172205
21         Massachusetts    12940916
22              Michigan    19932234
23             Minnesota    10397960
24           Mississippi     5826795
25              Missouri    11747056
26               Montana     1922181
27              Nebraska     3542392
28                Nevada     5138900
29         New Hampshire     2620605
30            New Jersey    17279756
31            New Mexico     3938112
32              New York    38803242
33        North Carolina    18177990
34          North Dakota     1265144
35                  Ohio    22880482
36              Oklahoma     7218956
37                Oregon     7547437
38          Pennsylvania    24801480
39          Rhode Island     2086401
40        South Carolina     8848557
41          South Dakota     1597347
42             Tennessee    12362352
43                 Texas    48252332
44                  Utah     5444055
45               Vermont     1237449
46              Virginia    15245491
47            Washington    12958920
48         West Virginia     3614110
49             Wisconsin    11214554
50               Wyoming     1055764

### From SQLAlchemy results to a Graph

In [19]:
# Import pyplot as plt from matplotlib
from matplotlib import pyplot as plt

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set Column names
df.columns = results[0].keys()

# Print the DataFrame
print(df)

# Plot the DataFrame
df.plot.bar()
plt.show()

                   state  population
0                Alabama     9268968
1                 Alaska     1324524
2                Arizona    12916129
3               Arkansas     5679024
4             California    72951610
5               Colorado     9788556
6            Connecticut     6965109
7               Delaware     1732923
8   District of Columbia     1173708
9                Florida    36397073
10               Georgia    19173559
11                Hawaii     2492742
12                 Idaho     3028256
13              Illinois    25643904
14               Indiana    12704136
15                  Iowa     5982693
16                Kansas     5547138
17              Kentucky     8481056
18             Louisiana     8765222
19                 Maine     2617878
20              Maryland    11172205
21         Massachusetts    12940916
22              Michigan    19932234
23             Minnesota    10397960
24           Mississippi     5826795
25              Missouri    11747056
26               Montana     1922181
27              Nebraska     3542392
28                Nevada     5138900
29         New Hampshire     2620605
30            New Jersey    17279756
31            New Mexico     3938112
32              New York    38803242
33        North Carolina    18177990
34          North Dakota     1265144
35                  Ohio    22880482
36              Oklahoma     7218956
37                Oregon     7547437
38          Pennsylvania    24801480
39          Rhode Island     2086401
40        South Carolina     8848557
41          South Dakota     1597347
42             Tennessee    12362352
43                 Texas    48252332
44                  Utah     5444055
45               Vermont     1237449
46              Virginia    15245491
47            Washington    12958920
48         West Virginia     3614110
49             Wisconsin    11214554
50               Wyoming     1055764

## 3. Advanced SQLAlchemy Queries

### Connecting to a MySQL Database

In [20]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('mysql+pymysql://'+'student:datacamp'+'@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/'+'census')

# Print the table names
print(engine.table_names())

['census', 'state_fact']

### Calculating a Difference between Two Columns

In [21]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008-census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt_grouped
stmt_grouped = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt_ordered
stmt_ordered = stmt_grouped.order_by(desc('pop_change'))

# Return only 5 results: stmt_top5
stmt_top5 = stmt_ordered.limit(5)

# Use connection to execute stmt_top5 and fetch all results
results = connection.execute(stmt_top5).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357

### Determining the Overall Percentage of Females

In [22]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000 / total_pop2000 * 100])

# Execute the query and store the scalar result: percent_female
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print(percent_female)

51.29793155796574

### Automatic Joins with an Established Relationship

In [23]:
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)

# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

pop2000 89600
abbreviation IL

### Joins

In [24]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt_join = stmt.select_from(census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt_join).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

state Illinois
sex M
age 0
pop2000 89600
pop2008 95012
id 13
name Illinois
abbreviation IL
country USA
type state
sort 10
status current
occupied occupied
notes
fips_state 17
assoc_press Ill.
standard_federal_region V
census_region 2
census_region_name Midwest
census_division 3
census_division_name East North Central
circuit_court 7

### More Practice with Joins

In [25]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt_joined = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt_grouped = stmt_joined.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = connection.execute(stmt_grouped).fetchall()

# Loop over the results object and print each record.
for record in results:
    print(record)

('Alabama', 9268968, 'East South Central')
('Alaska', 1324524, 'Pacific')
('Arizona', 12916129, 'Mountain')
('Arkansas', 5679024, 'West South Central')
('California', 72951610, 'Pacific')
('Colorado', 9788556, 'Mountain')
('Connecticut', 6965109, 'New England')
('Delaware', 1732923, 'South Atlantic')
('Florida', 36397073, 'South Atlantic')
('Georgia', 19173559, 'South Atlantic')
('Hawaii', 2492742, 'Pacific')
('Idaho', 3028256, 'Mountain')
('Illinois', 25643904, 'East North Central')
('Indiana', 12704136, 'East North Central')
('Iowa', 5982693, 'West North Central')
('Kansas', 5547138, 'West North Central')
('Kentucky', 8481056, 'East South Central')
('Louisiana', 8765222, 'West South Central')
('Maine', 2617878, 'New England')
('Maryland', 11172205, 'South Atlantic')
('Massachusetts', 12940916, 'New England')
('Michigan', 19932234, 'East North Central')
('Minnesota', 10397960, 'West North Central')
('Mississippi', 5826795, 'East South Central')
('Missouri', 11747056, 'West North Central')
('Montana', 1922181, 'Mountain')
('Nebraska', 3542392, 'West North Central')
('Nevada', 5138900, 'Mountain')
('New Hampshire', 2620605, 'New England')
('New Jersey', 17279756, 'Mid-Atlantic')
('New Mexico', 3938112, 'Mountain')
('New York', 38803242, 'Mid-Atlantic')
('North Carolina', 18177990, 'South Atlantic')
('North Dakota', 1265144, 'West North Central')
('Ohio', 22880482, 'East North Central')
('Oklahoma', 7218956, 'West South Central')
('Oregon', 7547437, 'Pacific')
('Pennsylvania', 24801480, 'Mid-Atlantic')
('Rhode Island', 2086401, 'New England')
('South Carolina', 8848557, 'South Atlantic')
('South Dakota', 1597347, 'West North Central')
('Tennessee', 12362352, 'East South Central')
('Texas', 48252332, 'West South Central')
('Utah', 5444055, 'Mountain')
('Vermont', 1237449, 'New England')
('Virginia', 15245491, 'South Atlantic')
('Washington', 12958920, 'Pacific')
('West Virginia', 3614110, 'South Atlantic')
('Wisconsin', 11214554, 'East North Central')
('Wyoming', 1055764, 'Mountain')

### Using alias to handle same table joined queries

In [26]:
engine = create_engine('sqlite:///employees.sqlite')
print(engine.table_names())
metadata = MetaData()
employees = Table('employees', metadata, autoload = True, autoload_with = engine)
print(employees.columns.keys())
connection = engine.connect()

['data', 'employees']
['id', 'name', 'job', 'mgr', 'hiredate', 'sal', 'comm', 'dept']

In [27]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select names of managers and their employees: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt_matched
stmt_matched = stmt.where(managers.columns.id == employees.columns.mgr)

# Order the statement by the managers name: stmt_ordered
stmt_ordered = stmt_matched.order_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt_ordered).fetchall()

# Print records
for record in results:
    print(record)

('FILLMORE', 'GRANT')
('FILLMORE', 'ADAMS')
('FILLMORE', 'MONROE')
('GARFIELD', 'JOHNSON')
('GARFIELD', 'LINCOLN')
('GARFIELD', 'POLK')
('GARFIELD', 'WASHINGTON')
('HARDING', 'TAFT')
('HARDING', 'HOOVER')
('JACKSON', 'HARDING')
('JACKSON', 'GARFIELD')
('JACKSON', 'FILLMORE')
('JACKSON', 'ROOSEVELT')

### Leveraging Functions and Group_bys with Hierarchical Data

In [28]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select names of managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt_matched = stmt.where(managers.columns.id == employees.columns.mgr)

# Group by Managers Name
stmt_grouped = stmt_matched.group_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt_grouped).fetchall()

# print manager
for record in results:
    print(record)

('FILLMORE', 3)
('GARFIELD', 4)
('HARDING', 2)
('JACKSON', 4)

### Working on Blocks of Records

In [29]:
engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')
stmt = select([census.columns.state])
results_proxy = engine.execute(stmt)
state_count = {}
more_results = True

In [30]:
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state]+=1
        else:
            state_count[row.state]=1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

{'Illinois': 210, 'New Jersey': 172, 'District of Columbia': 188, 'North Dakota': 172, 'Florida': 196, 'Maryland': 217, 'Idaho': 172, 'Massachusetts': 172, 'Oregon': 218, 'Nevada': 266, 'Michigan': 239, 'Wisconsin': 232, 'Missouri': 242, 'Washington': 206, 'North Carolina': 172, 'Arizona': 287, 'Arkansas': 260, 'Colorado': 247, 'Indiana': 202, 'Pennsylvania': 230, 'Hawaii': 172, 'Kansas': 255, 'Louisiana': 197, 'Alabama': 173, 'Minnesota': 229, 'South Dakota': 172, 'New York': 232, 'California': 262, 'Connecticut': 182, 'Ohio': 249, 'Rhode Island': 180, 'Georgia': 172, 'South Carolina': 172, 'Alaska': 172, 'Delaware': 172, 'Tennessee': 230, 'Vermont': 222, 'Montana': 210, 'Kentucky': 190, 'Utah': 172, 'Nebraska': 221, 'West Virginia': 172, 'Iowa': 172, 'Wyoming': 208, 'Maine': 256, 'New Hampshire': 260, 'Mississippi': 265, 'Oklahoma': 228, 'New Mexico': 268, 'Virginia': 214, 'Texas': 270}

## 4. Creating and Manipulating your own Databases

In [31]:
engine = create_engine('sqlite:///chapter4.sqlite')
metadata = MetaData()

### Creating Tables with SQLAlchemy

In [32]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255)),
             Column('count', Integer()),
             Column('amount', Float()),
             Column('valid', Boolean())
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print table details
print(repr(data))

Table('data', MetaData(bind=None), Column('name', String(length=255), table=<data>), Column('count', Integer(), table=<data>), Column('amount', Float(), table=<data>), Column('valid', Boolean(), table=<data>), schema=None)

### Constraints and Data Defaults

In [33]:
engine = create_engine('sqlite:///chapter4.sqlite')
metadata = MetaData()

In [34]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False)
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print the table details
print(repr(metadata.tables['data']))

Table('data', MetaData(bind=None), Column('name', String(length=255), table=<data>), Column('count', Integer(), table=<data>, default=ColumnDefault(1)), Column('amount', Float(), table=<data>), Column('valid', Boolean(), table=<data>, default=ColumnDefault(False)), schema=None)

### Inserting a single row with an insert() statement

In [35]:
# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

# Build an insert statement to insert a record into the data table: insert_stmt
insert_stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# Execute the insert statement via the connection: results
results = connection.execute(insert_stmt)

# Print result rowcount
print(results.rowcount)

# Build a select statement to validate the insert: select_stmt
select_stmt = select([data]).where(data.columns.name == 'Anna')

# Print the result of executing the query.
print(connection.execute(select_stmt).first())

1
('Anna', 1, 1000.0, True)

### Inserting Multiple Records at Once

In [36]:
# Build a list of dictionaries: values_list
values_list = [
    {'name': 'Anna', 'count': 1, 'amount': 1000.00, 'valid': True},
    {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
]

# Build an insert statement for the data table: stmt
stmt = insert(data).values()

# Execute stmt with the values_list: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

2

### Loading a CSV into a Table

In [37]:
# Define a new table with a name, count, amount, and valid column: data
census = Table('census', metadata,
             Column('state', String(30)),
             Column('sex', String(1)),
             Column('age', Integer()),
             Column('pop2000', Integer()),
                   Column('pop2008', Integer())
                   
)

# Use the metadata to create the table
metadata.create_all(engine)

connection = engine.connect()

# Print the table details
print(repr(metadata.tables['census']))

Table('census', MetaData(bind=None), Column('state', String(length=30), table=<census>), Column('sex', String(length=1), table=<census>), Column('age', Integer(), table=<census>), Column('pop2000', Integer(), table=<census>), Column('pop2008', Integer(), table=<census>), schema=None)

In [38]:
import csv
# Create a insert statement for census: stmt
stmt = insert(census)

# Create an empty list and zeroed row count: values_list, total_rowcount
values_list = []
total_rowcount = 0

# Enumerate the rows of csv_reader
with open('census.csv', 'r', encoding = 'utf8', newline = '') as csvfile:
    csv_reader = csv.reader(csvfile)
    for idx, row in enumerate(csv_reader):
        #create data and append to values_list
        data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3], 'pop2008': row[4]}
        values_list.append(data)

        # Check to see if divisible by 51 done to load 50 at 
        # time due to memory
        if idx % 51 == 0:
            results = connection.execute(stmt, values_list)
            total_rowcount += results.rowcount
            values_list = []

# Print total rowcount
print(total_rowcount)

8722

### Updating individual records

In [39]:
from sqlalchemy import update
engine = create_engine('sqlite:///census_update.sqlite')
connection = engine.connect()

In [40]:
# Build a select statement: select_stmt
select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

# Print the results of executing the select_stmt
print(connection.execute(select_stmt).fetchall())

# Build a statement to update the fips_state to 36: stmt
stmt = update(state_fact).values(fips_state = 36)

# Append a where clause to limit it to records for New York state
stmt = stmt.where(state_fact.columns.name == 'New York')

# Execute the statement: results
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)

# Execute the select_stmt again to view the changes
print(connection.execute(select_stmt).fetchall())

[('32', 'New York', 'NY', 'USA', 'state', '10', 'current', 'occupied', '', '40', 'N.Y.', 'II', '1', 'Northeast', '2', 'Mid-Atlantic', '2')]
1
[('32', 'New York', 'NY', 'USA', 'state', '10', 'current', 'occupied', '', '36', 'N.Y.', 'II', '1', 'Northeast', '2', 'Mid-Atlantic', '2')]

### Updating Multiple Records

In [41]:
# Build a statement to update the notes to 'The Wild West': stmt
stmt = update(state_fact).values(notes = 'The Wild West')

# Append a where clause to match the West census region records: stmt_west
stmt_west = stmt.where(state_fact.columns.census_region_name == 'West')

# Execute the statement: results
results = connection.execute(stmt_west)

# Print rowcount
print(results.rowcount)

13

### Correlated Updates

In [42]:
engine = create_engine('sqlite:///flat_census.sqlite')
#copy of census.sqlite as the below delete updates the sqlite
connection = engine.connect()
flat_census = Table('flat_census', metadata, autoload=True, autoload_with=engine)
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)

In [43]:
# Build a statement to select name from state_fact: fips_stmt
fips_stmt = select([state_fact.columns.name])

# Append a where clause to Match the fips_state to flat_census fips_code: fips_stmt_match
fips_stmt_match = fips_stmt.where(
    state_fact.columns.fips_state == flat_census.columns.fips_code)

# Build an update statement to set the name to fips_stmt_where: update_stmt
update_stmt = update(flat_census).values(state_name=fips_stmt_match)

# Execute update_stmt: results
results = connection.execute(update_stmt)

# Print rowcount
print(results.rowcount)

51

### Deleting all the records from a table

In [44]:
engine = create_engine('sqlite:///census_del1.sqlite')
#copy of census.sqlite as the below delete updates the sqlite
connection = engine.connect()

In [45]:
# Import delete, select
from sqlalchemy import delete, select

# Build a statement to empty the census table: stmt
stmt = delete(census)

# Execute the statement: results
results = connection.execute(stmt)

# Print affected rowcount
print(results.rowcount)

# Build a statement to select all records from the census table : stmt_select
stmt_select = select([census])

# Print the results of executing the statement to verify there are no rows
print(connection.execute(stmt_select).fetchall())

17493
[]

### Deleting specific records

In [46]:
engine = create_engine('sqlite:///census_del2.sqlite')
#copy of census.sqlite as the below delete updates the sqlite
connection = engine.connect()

In [47]:
# Build a statement to count records using the sex column for Men ('M') age 36: stmt
stmt = select([func.count(census.columns.sex)]).where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the select statement and use the scalar() fetch method to save the record count
to_delete = connection.execute(stmt).scalar()

# Build a statement to delete records from the census table: stmt_del
stmt_del = delete(census)

# Append a where clause to target Men ('M') age 36: stmt_del_m36
stmt_del_m36 = stmt_del.where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the statement: results
results = connection.execute(stmt_del_m36)

# Print affected rowcount and to_delete record count, make sure they match
print(results.rowcount, to_delete)

51 51

### Deleting a Table Completely

#### Drop the state_fact table
state_fact.drop(engine)

#### Check to see if state_fact exists
print(state_fact.exists(engine))

#### Drop all tables
metadata.drop_all(engine)

#### Check to see if census exists
print(census.exists(engine))

## 5. Putting it all together

### Setup the Engine and MetaData

In [48]:
# Import create_engine, MetaData
from sqlalchemy import create_engine, MetaData

# Define an engine to connect to chapter5.sqlite: engine
engine = create_engine('sqlite:///chapter5.sqlite')

# Initialize MetaData: metadata
metadata = MetaData()

### Create the Table to the Database

In [49]:
# Import Table, Column, String, and Integer
from sqlalchemy import Table, Column, String, Integer

# Build a census table: census
census = Table('census', metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer),
               Column('pop2000', Integer),
               Column('pop2008', Integer))

# Create the table in the database
metadata.create_all(engine)

### Reading the Data from the CSV

In [50]:
# Create an empty list: values_list
values_list = []
with open('census.csv', 'r', encoding = 'utf8', newline = '') as csvfile:
    csv_reader = csv.reader(csvfile)
    # Iterate over the rows
    for row in csv_reader:
        # Create a dictionary with the values
        data = {'state': row[0], 'sex': row[1],'age':row[2], 'pop2000': row[3], 'pop2008':row[4]}
        # Append the dictionary to the values list
        values_list.append(data)

### Load Data from a list into the Table

In [51]:
# Import insert
from sqlalchemy import insert

# Build insert statement: stmt
stmt = census.insert()

# Use values_list to insert data: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

8772

### Build a Query to Determine the Average Age by Population

In [52]:
# Import select
from sqlalchemy import select

# Calculate weighted average age: stmt
stmt = select([census.columns.sex,
               (func.sum(census.columns.pop2008 * census.columns.age) /
                func.sum(census.columns.pop2008)).label('average_age')
               ])

# Group by sex
stmt = stmt.group_by(census.columns.sex)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the average age by sex
for result in results:
    print(result.sex, result.average_age)

F 38
M 35

### Build a Query to Determine the Percentage of Population by Gender and State

In [53]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([census.columns.state,
    (func.sum(
        case([
            (census.columns.sex == 'F', census.columns.pop2000)
        ], else_=0)) /
     cast(func.sum(census.columns.pop2000), Float) * 100).label('percent_female')
])

# Group By state
stmt = stmt.group_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the percentage
for result in results:
    print(result.state, result.percent_female)

Alabama 52.08786197943258
Alaska 49.57907886460352
Arizona 50.481500015729864
Arkansas 51.522551037905274
California 50.63614069899555
Colorado 50.128238252620825
Connecticut 51.95563208094569
Delaware 51.892185034209426
District of Columbia 53.42428413560846
Florida 51.63208375427113
Georgia 51.40598412275676
Hawaii 51.36336489056661
Idaho 50.22538079575563
Illinois 51.38198746187385
Indiana 51.221573354630166
Iowa 51.19732890347808
Kansas 51.077026967645054
Kentucky 51.594457686756876
Louisiana 52.0062525233188
Maine 51.768902907142476
Maryland 52.228678912520955
Massachusetts 52.13321952492882
Michigan 51.24146916626668
Minnesota 50.774820549468814
Mississippi 52.16881004757358
Missouri 51.73334314914557
Montana 50.55325042302129
Nebraska 51.10788353048512
Nevada 49.653741281996155
New Hampshire 51.1459177769609
New Jersey 51.81023372417221
New Mexico 51.29587039388912
New York 52.116172465213694
North Carolina 51.75826902294568
North Dakota 50.73096100642891
Ohio 51.725790334101305
Oklahoma 51.35994244820103
Oregon 50.67729160741132
Pennsylvania 52.0006975193445
Rhode Island 52.34713331161721
South Carolina 51.99802595575507
South Dakota 50.770657014325785
Tennessee 51.70228928355578
Texas 50.78738337130261
Utah 50.194972749580145
Vermont 51.28334249587686
Virginia 51.93961855699013
Washington 50.78941995612129
West Virginia 51.638046949798536
Wisconsin 50.88475793299169
Wyoming 50.17558165263926

### Build a Query to Determine the Difference by State from the 2000 and 2008 Censuses

In [54]:
# Build query to return state name and population difference from 2008 to 2000
stmt = select([census.columns.state,
     (census.columns.pop2008-census.columns.pop2000).label('pop_change')
])

# Group by State
stmt = stmt.group_by(census.columns.state)

# Order by Population Change
stmt = stmt.order_by(desc('pop_change'))

# Limit to top 10
stmt = stmt.limit(10)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357
North Carolina:11574
Virginia:6639
Colorado:6425
Utah:5934
Illinois:5412